/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
html, body {
    font-family: "Red Rose", "GmarketSans", serif;
    /* 앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서체를 적용 */
    font-size: 17px;
    font-weight: 500;
    color: #3d3d3d;
    line-height: 1.5;
    word-break: keep-all; /* 스페이스기준 단어별로 떨어지게 함 */
    word-wrap: break-word; /* 단어가 너무 긴 경우 강제로 줄바꿈을 주는 방법 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    position: relative; /* header 정렬의 기준 */
    overflow-x: hidden; /* 가로스크롤 삭제 */
    width: 100%;
}



@media screen and (max-width:1300px){ /* 1260 * 0.05 = 63 + 63 = 126 + 1260 = 1386 (%로 했을 때)*/
                                      /* 20 + 20 = 40 + 1260 = 1300 (px로 했을 때)*/
    .wrapper {
        width: auto;
        /*margin: 0 5%; /* 좌우여백 %로 주는 걸 옛날에 많이함 -> 요즘 다시 하는 중(뮤자인-하이붓다) */
        margin: 0 20px;
    }
}
@media screen and (max-width:768px){
            /* 브라우저 넓이가 768px 이하에서만 작동 */
            html, body {
                font-size: 16px;
            }
}/*media 꽁다리*/



/* 글자를 숨겨야하는 경우 blind 클래스를 적용
    skip, blind 이렇게 두 이름으로 많이 부름 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent; /* 글자가 투명 */
}


.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /* 맨위 */
    width: 100%;
}
.skip_nav a {
    background-color: mediumslateblue;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

/* 변수 */
:root {
    --header-h: 100px; /* header 높이 */
    --header-h-m:-100px;/* header 높이 마이너스값 */
    --tit-color: #1d1d1d;
    --point-color: #441213;
    --dark-color: #231512;
    --right-color: #F0E9DF;
    --bold-weight: 700;
    --base-weight: 500;
    --v_font-size: 4.41rem; /* 75px / 17 */
    --sp-font-size: 2.94rem; /* 50px */
    --tit-font-size: 2.65rem; /* 45px / 17 */
    --ctn-font-size: 1.29rem; /* 22px / 17 */
    --u_ctn-font-size: 1.47rem; /* 25px */
    --tit-line-height: 1.2;

}
@media screen and (max-width:1300px){
    :root {
        --header-h: 56px; /* header 높이 */
        --header-h-m: -56px;

        --v_font-size: 3.24rem; /* 55px / 17 */
        --sp-font-size: 2.35rem; /* 40px */
        --tit-font-size: 2.06rem; /* 35px / 17 */
        --ctn-font-size: 1.24rem; /* 21px / 17 */
        --u_ctn-font-size: 1.35rem; /* 23px */
    }
}
@media screen and (max-width:768px){
    :root {
        --v_font-size: 2.19rem; /* 35px / 16 */
        --tit-font-size: 1.56rem; /* 25px / 16 */
        --ctn-font-size: 1.19rem; /* 19px / 16 */
        --u_ctn-font-size: 1.31rem; /* 21px */
    }
}