@import url(font.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.visual .swiper {
    width: 100%;
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh;
    min-height: 35.29em; /* ????????? 최소높이 - 600 / 17 = 35.29 */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1,1.1,1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 11%;
    width: 100%;
    color: #fff;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .wrapper {
    position: relative;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3.06em;
    width: 0;
    height: 1px;
    background-color: #fff;
    animation-name: visual_paging;
    animation-duration: 5s; /* jquery의 autoplay 시간과 맞추기 */
    animation-iteration-count: 1; /* 반복 횟수*/
    animation-fill-mode: forwards; /* 마지막 100% 유지 */
    /* animation-timing-function: linear; 가속도 삭제 */
}
@keyframes visual_paging {
    0% { width: 0; }
    100% { width: 100%; }
}

.visual .swiper-slide .txt_wrap .txt.mobil {
    display: none;
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt p {
    font-family: 'Italiana';
    font-size: var(--v_font-size);
    line-height: var(--tit-line-height);
    white-space: nowrap;

    transform: translateY(100%);
    transition: 0.8s;
}

/* --> 윗줄 아랫줄 올라오는 속도 다르게 코딩한 것 */
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay1 p {
    transition-delay: 0.6s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay2 p {
    transition-delay: 0.8s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0%);
}
.visual .swiper-slide.swiper-slide-active .txt_wrap span {
    display: block;
    margin-top: 4.65em;
}

.visual .ctrl_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    bottom: 11%;
    right: calc(50% - 630px);
    z-index: 10;
    color: #fff;
}
.visual .ctrl_wrap .group {
    display: flex;
    align-items: center;
    gap: 0.71em;
}
.visual .ctrl_wrap .group .count_pc {
    bottom: auto;
    left: auto;
    width: auto;
}
.visual .ctrl_wrap .group .count_mobil {
    display: none;
}
.visual .ctrl_wrap .btn_next {
    display: block;
    width: 2.53em;
    height: 1.29em;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='22' viewBox='0 0 43 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_132_756)'%3E%3Cpath d='M0 16.3655H41.4268L30.939 5.63379' stroke='white' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_132_756'%3E%3Crect width='43' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width:1300px){ /* common.css에서 wrapper가 풀리는 사이즈 */
    .visual .ctrl_wrap {
        right: 20px; /* common.css에서 wrapper의 margin 여백
                        -> 이렇게 해야 ctrl 버튼이 브라우저가 줄어들어도 wrapper 위치에 맞게 따라옴 */
    }
    
}
@media screen and (max-width:900px){
    .visual .swiper-slide .txt_wrap .txt.mobil {
        display: block; /* 나타남 */
    }
    .visual .swiper-slide .txt_wrap .txt.pc {
        display: none; /* 숨김 */
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide.swiper-slide-active .photo img {
                transform: scale3d(1,1,1);
            }
            .visual .swiper-slide.swiper-slide-active .txt_wrap .wrapper::after {
                bottom: 4.06em;
            }
            .visual .swiper-slide.swiper-slide-active .txt_wrap span {
                margin-top: 3.06em;
            }
            .visual .ctrl_wrap {
                bottom: 2%;
                right: 50%;
                transform: translateX(50%);
            }
            .visual .ctrl_wrap .btn_next {
                display: none;
            }
}/* @media */






.bar {
    display: flex;
    height: 11.76em;
}
.bar h2 {
    display: none;
}
.bar .research {
    width: 28.24em;
}
.bar .research a {
    display: flex;
    flex-direction: column;
    row-gap: 1.88em;
    color: #fff;
    background-color: var(--dark-color);
    padding: 2.06em;
}
.bar .research a strong {
    font-size: 1.76rem;
    line-height: var(--tit-line-height);
}
.bar .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 28.24em);
    background-color: #F8F8F8;
    padding: 2.06em 1.76em 2.71em 1.76em;
}
.bar .inner h3 {
    font-size: 1.76rem;
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    font-weight: var(--bold-weight);
}
.bar .inner ul {
    display: flex;
    gap: 0.88em;
}
.bar .inner ul li {
    width: 15.71em;
}
.bar .inner ul li a {
    position: relative; /* before, after */
    display: block;
    text-align: right;

}
.bar .inner ul li a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -0.29em;
    width: 100%;
    height: 1px;
    background-color: var(--tit-color);
}
.bar .inner ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4.47em;
    height: 4.47em;
    background-repeat: no-repeat;
    background-position: center center;
}
.bar .inner ul li.info a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='56' viewBox='0 0 72 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2902 44.3746C17.1542 44.3746 17.8756 44.0855 18.4544 43.5073C19.0333 42.9285 19.3227 42.2067 19.3227 41.3421C19.3227 40.4781 19.0333 39.7567 18.4544 39.1778C17.8756 38.5996 17.1542 38.3105 16.2902 38.3105C15.4262 38.3105 14.7048 38.5996 14.1259 39.1778C13.5471 39.7567 13.2577 40.4781 13.2577 41.3421C13.2577 42.2067 13.5471 42.9285 14.1259 43.5073C14.7048 44.0855 15.4262 44.3746 16.2902 44.3746ZM14.3191 32.8516H18.2613V11.625H14.3191V32.8516ZM30.0878 37.8552H57.6831V33.913H30.0878V37.8552ZM30.0878 22.0865H57.6831V18.1443H30.0878V22.0865ZM6.89007 55.595C5.07536 55.595 3.56025 54.9873 2.34474 53.7718C1.12924 52.5563 0.521484 51.0411 0.521484 49.2264V6.77313C0.521484 4.95841 1.12924 3.4433 2.34474 2.2278C3.56025 1.01229 5.07536 0.404541 6.89007 0.404541H65.1121C66.9268 0.404541 68.4419 1.01229 69.6574 2.2278C70.8729 3.4433 71.4807 4.95841 71.4807 6.77313V49.2264C71.4807 51.0411 70.8729 52.5563 69.6574 53.7718C68.4419 54.9873 66.9268 55.595 65.1121 55.595H6.89007ZM6.89007 51.6528H65.1121C65.7192 51.6528 66.2754 51.4002 66.7806 50.895C67.2859 50.3897 67.5385 49.8335 67.5385 49.2264V6.77313C67.5385 6.16603 67.2859 5.60986 66.7806 5.1046C66.2754 4.59935 65.7192 4.34672 65.1121 4.34672H6.89007C6.28298 4.34672 5.7268 4.59935 5.22155 5.1046C4.71629 5.60986 4.46366 6.16603 4.46366 6.77313V49.2264C4.46366 49.8335 4.71629 50.3897 5.22155 50.895C5.7268 51.4002 6.28298 51.6528 6.89007 51.6528Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.bar .inner ul li.map a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='63' height='63' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_1356)'%3E%3Cpath d='M61.6287 54.1227C57.2113 60.442 42.2906 62.6362 35.0089 62.9303C32.7804 63.0193 30.1665 63.0193 27.9379 62.9303C24.9029 62.8103 21.5938 62.4234 18.5707 61.9087C12.5563 60.8871 -0.914431 57.443 0.0469155 49.4906C0.706352 44.0574 9.64052 40.7371 14.3638 39.7078L15.1782 43.0164C10.729 44.0303 -1.58181 48.3645 5.98184 53.8905C15.1146 60.562 36.5622 60.3801 47.2363 57.8106C51.2724 56.8393 64.1394 52.8031 57.4854 47.2654C54.9112 45.1216 50.9983 43.949 47.7647 43.148L48.5274 39.8432C48.7379 39.6691 52.0947 40.7526 52.6231 40.9384C58.0614 42.8345 66.2686 47.4821 61.6248 54.1266L61.6287 54.1227Z' fill='%231D1D1D'/%3E%3Cpath d='M29.8088 0.057945C38.2027 -0.580569 46.0166 3.93159 49.3853 11.4041C55.3997 24.7433 44.4157 42.0799 34.0594 50.516C33.4317 51.0268 32.3274 52.0523 31.517 52.0755C30.6589 52.0987 29.5387 51.0462 28.8872 50.516C18.0502 41.689 6.51005 23.1063 14.5345 9.52343C17.6529 4.24118 23.5203 0.537798 29.8088 0.057945ZM47.5143 20.7303C48.0506 10.7231 40.4234 2.66231 29.932 3.49818C22.412 4.09799 15.9765 10.4406 15.4403 17.7777C14.6736 28.2725 21.7248 39.2704 29.2606 46.2244C29.5546 46.4953 31.3104 48.0742 31.513 48.0432C39.47 41.4027 46.9462 31.2677 47.5143 20.7303Z' fill='%231D1D1D'/%3E%3Cpath d='M26.2139 24.1862C19.3256 17.3328 30.246 7.13211 36.9039 14.2138C43.3275 21.044 32.8877 30.8306 26.2139 24.1862ZM30.8379 22.8202C36.5821 23.7064 36.8443 14.4731 30.6869 15.4096C26.8575 15.9939 26.5039 22.1507 30.8379 22.8202Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_1356'%3E%3Crect width='63' height='63' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.bar .inner ul li.guide a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_1351)'%3E%3Cpath d='M36.6293 0V9.24326H54.5358V54.1921H57.8281L58 54.3639V58.0054H0V54.3639L0.171868 54.1921H3.46421V0H36.624H36.6293ZM32.9288 3.69516H7.33661L7.16474 3.86702V54.1276L7.33661 54.2995H13.0566V41.1838L13.2284 41.0119H27.1497V54.2995H32.9288V3.69516ZM36.8012 12.9384L36.6293 13.1103V54.1276L36.8012 54.2995H50.6688L50.8406 54.1276V13.1157L50.6688 12.9438H36.8012V12.9384ZM23.4546 44.8306H16.8699V54.3048H23.4546V44.8306Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_1351'%3E%3Crect width='58' height='58' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.bar .inner ul li.support a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='74' height='67' viewBox='0 0 74 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.9072 63.1216C36.3863 63.1216 36.8774 63.0135 37.3803 62.7971C37.8833 62.5814 38.29 62.3183 38.6004 62.0079L67.1867 33.4216C68.1076 32.5007 68.8186 31.5583 69.3197 30.5946C69.8202 29.6309 70.0705 28.5731 70.0705 27.4211C70.0705 26.2551 69.8202 25.1233 69.3197 24.0258C68.8186 22.9282 68.1076 21.9257 67.1867 21.0182L53.4367 7.2682C52.5292 6.34725 51.5972 5.67167 50.6408 5.24145C49.6838 4.81122 48.6226 4.59611 47.4572 4.59611C46.3053 4.59611 45.2358 4.81122 44.2489 5.24145C43.2613 5.67167 42.3306 6.34725 41.4567 7.2682L38.2621 10.4628L45.0455 17.2672C45.7739 17.9816 46.3169 18.795 46.6744 19.7074C47.0313 20.6191 47.2097 21.545 47.2097 22.4849C47.2097 24.394 46.5858 25.9725 45.3379 27.2204C44.09 28.4683 42.5118 29.0922 40.6033 29.0922C39.6628 29.0922 38.7449 28.9489 37.8496 28.6623C36.9544 28.3757 36.1492 27.8749 35.4342 27.1599L28.4181 20.1657L12.5882 35.9956C12.2172 36.3672 11.9388 36.7891 11.7531 37.2615C11.5673 37.7339 11.4744 38.2097 11.4744 38.6888C11.4744 39.5541 11.7518 40.2676 12.3067 40.8292C12.861 41.3908 13.5708 41.6716 14.4362 41.6716C14.9153 41.6716 15.4063 41.5634 15.9092 41.3471C16.4122 41.1314 16.8189 40.8683 17.1293 40.5579L28.7499 28.9373L31.345 31.5324L19.7455 43.1529C19.3739 43.5239 19.0953 43.9456 18.9095 44.4179C18.7243 44.8903 18.6317 45.3664 18.6317 45.8461C18.6317 46.6644 18.9208 47.3626 19.4989 47.9407C20.077 48.5188 20.7749 48.8079 21.5926 48.8079C22.0723 48.8079 22.5636 48.6997 23.0666 48.4834C23.5695 48.267 23.9762 48.0036 24.2866 47.6932L36.7533 35.2485L39.3484 37.8427L26.9028 50.3094C26.5783 50.6198 26.3116 51.0265 26.1026 51.5294C25.893 52.0324 25.7881 52.5237 25.7881 53.0034C25.7881 53.8211 26.0772 54.519 26.6553 55.0971C27.234 55.6758 27.9322 55.9652 28.7499 55.9652C29.2296 55.9652 29.7057 55.8723 30.1781 55.6865C30.6505 55.5008 31.0721 55.2221 31.4431 54.8505L43.9097 42.4049L46.5048 45L34.0382 57.4667C33.6672 57.8383 33.3888 58.2838 33.2031 58.8032C33.0173 59.3226 32.9244 59.7984 32.9244 60.2305C32.9244 61.0958 33.2287 61.794 33.8374 62.325C34.4461 62.8561 35.136 63.1216 35.9072 63.1216ZM35.8862 66.7883C34.0009 66.7883 32.3872 66.0986 31.0452 64.7194C29.7032 63.3395 29.1144 61.6363 29.2788 59.6099C27.201 59.6337 25.471 59.0134 24.0886 57.749C22.7069 56.484 22.0512 54.7188 22.1215 52.4534C19.8561 52.4767 18.071 51.8292 16.7663 50.511C15.4616 49.1922 14.8682 47.4539 14.9861 45.2961C12.9457 45.32 11.2391 44.7464 9.86657 43.5755C8.49401 42.4053 7.80773 40.7763 7.80773 38.6888C7.80773 37.7489 7.98984 36.8078 8.35407 35.8654C8.71829 34.9225 9.25759 34.0938 9.97198 33.3794L28.4181 14.9544L37.8881 24.4245C38.1986 24.749 38.5818 25.0158 39.0377 25.2248C39.4935 25.4338 40.0084 25.5383 40.5822 25.5383C41.3669 25.5383 42.0602 25.2645 42.6622 24.7169C43.2641 24.1694 43.5651 23.4559 43.5651 22.5765C43.5651 22.0033 43.4603 21.4887 43.2506 21.0329C43.0416 20.577 42.7749 20.1938 42.4504 19.8834L29.8362 7.2682C28.9286 6.34725 27.9848 5.67167 27.0046 5.24145C26.0243 4.81122 24.9515 4.59611 23.7861 4.59611C22.6342 4.59611 21.5883 4.81122 20.6484 5.24145C19.7079 5.67167 18.7769 6.34725 17.8553 7.2682L6.69307 18.4515C5.9084 19.2368 5.27407 20.1724 4.79006 21.2584C4.30545 22.3443 4.04909 23.4654 4.02098 24.6216C3.99287 25.4491 4.06345 26.2447 4.23273 27.0086C4.40201 27.7725 4.66998 28.4906 5.03665 29.1628L2.25823 31.9412C1.64223 30.9585 1.16037 29.8268 0.812649 28.5459C0.464927 27.265 0.305121 25.9569 0.333232 24.6216C0.361343 22.9576 0.69501 21.3629 1.33423 19.8375C1.97345 18.3122 2.88798 16.9549 4.07782 15.7657L15.1695 4.67403C16.4479 3.40903 17.8006 2.46883 19.2276 1.85344C20.6539 1.23744 22.197 0.929443 23.8567 0.929443C25.5159 0.929443 27.047 1.23744 28.4501 1.85344C29.8533 2.46883 31.187 3.40903 32.4514 4.67403L35.646 7.86769L38.8406 4.67403C40.119 3.40903 41.4598 2.46883 42.8629 1.85344C44.266 1.23744 45.7975 0.929443 47.4572 0.929443C49.1164 0.929443 50.6595 1.23744 52.0864 1.85344C53.5127 2.46883 54.8584 3.40903 56.1234 4.67403L69.7817 18.3324C71.0461 19.5968 72.0215 21.0164 72.7077 22.5912C73.394 24.166 73.7372 25.783 73.7372 27.4422C73.7372 29.102 73.394 30.6334 72.7077 32.0365C72.0215 33.4396 71.0461 34.7734 69.7817 36.0378L41.1955 64.6029C40.434 65.3644 39.6054 65.919 38.7095 66.2667C37.8142 66.6144 36.8731 66.7883 35.8862 66.7883Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}














/* title의 공통스타일 */
section .tit strong {
    color: var(--point-color);
    display: inline-block;
}
section .tit h2 {
    color: var(--tit-color);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    margin-top: 0.11em; /*5/45*/
}
@media screen and (max-width:768px){
            section .tit {
                margin-top: 5.06em; /*81/16*/
            }
            section .tit h2 {
                margin-top: 0.8em; /*2/25*/
            }
}/* @media */





