@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    height: 100px;
    padding: 0 30px; /* 위아래 좌우 값 */
}
header .logo {
    margin: 24px 0 0 0;
}
header .inner {
    display: flex; /* gnb와 shop을 좌우로 배치 */
    align-items: center; /* 위아래 가운데(flex) */
    gap: 90px; /* gnb와 shop 사이의 여백 */
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block; /* a 필수값 */
    font-size: 23px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 100px;
    /* header의 높이랑 1차 메뉴의 a의 높이는 같아야함... a에 행간을 header의 높이값으로 줌,
    a에 높이가 생기고 글자는 위아래 가운데 정렬,
    padding으로 높이 여백을 주는 게 XX */
    padding: 0 40px;
}
header .inner .shop {
    border: 1px solid #01422E;
    border-radius: 21px;
    font-size: 20px;
    padding: 2px 33px;
    color: #01422E;
}

.visual {
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    border-radius: 20px;
    color: #fff;
    height: 700px;
    margin: 0 30px;
    text-align: center;
}
.visual h2 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.03em; /* -30 */
    padding: 293px 0 3px 0;
}
.product,
.community {
    margin: 177px 0 0 0;
}
.product .tit h2,
.community h2 {
    color: #40744E;
    margin: 0 0 7px 0;
}
.product .tit p,
.network .sub_tit,
.community p {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #1d1d1d;
}
.product .list {
    margin: 52px 0 0 0;
    
}
.product .list ul {
    display: flex;
    justify-content: space-between;
}
/* li의 넓이는 느는 만큼 늘어나기 때문에 넓이를 제한해줘야함 */
.product .list ul li {
    width: 404px;
}
.product .list ul li a {
    display: block;
}
/* 이미지 자체에 주면 안들어가서 포토에 줌 */
.product .list ul li a .photo {
    font-size: 0;
    line-height: 0;
    /* 이미지하단에 여백을 삭제하기 위해서
    img 태그에 직접 주면 적용X
    img 태그만 감싸는 요소에 줘야함(안그러면 적용 안됨)*/
}
.product .list ul li h3 {
    font-size: 20px;
    margin: 16px 0 0 0;
    white-space: nowrap;/* 1줄로 제한 */
    overflow: hidden; /* 글자가 줄에서 넘쳐나면 1줄로 잘라주는 태그 */
    text-overflow: ellipsis;/* 잘린 글자 끝에 ...을 넣어줌 */
    /* 위에 3태그가 한 줄 만들기 세트 */
}
.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    height: 600px;
    margin: 121px 0 0 0;
    color: #fff;
    text-align: center;
}
.network h2 {
    color: #87DE9E;
    padding: 182px 0 4px 0;
}
.network p {
    color: rgba(255,255,255,0.8);
}
.network .sub_tit {
    color: #fff;
    margin: 0 0 28px 0;
}
.network a {
    font-size: 15px;
    display: inline-block;
    margin: 48px 0 0 0;
    padding: 4px 22px;
    border: 1px solid #fff;
    border-radius: 16px
}
.community .list {
    margin: 52px 0 0 0;
    display: flex; /* group을 좌우로배치 */
    justify-content: space-between; /* 양쪽 끝에 배치 */
}
.community .list .group {
    width: calc(50% - 6px); /* 높이는 X, 넓이만 주기 */
    /* 반응형 코딩을 할 때 중요한 코드
       1. 몇개로 분할 : 2개 =ex 100/2 = 50%
       2. 사이 여백의 총합 / 분할하는 갯수로 나눔(n빵) =ex 12 / 2 = 6px
    */
}
.community .list .group ul {
    display: flex; /* li를 좌우에 배치 */
    flex-wrap: wrap; /* li가 2줄로 나타나는 걸 허락(박스 2줄 만들기 허용) */
    gap: 12px;
}
/* 1. li의 사이즈와 a의 사이즈가 동일해야 할 때
   2. height를 꼭 줘야 하는 디자인일때 (위에 product는 높이가 필요없는 디자인)
   -- 두 조건이 충족되면 li에는 넓이를 주고 a에는 높이를 줌 */
.community .list .group ul li.color,
.community .list .group ul li.gray {
    width: calc(50% - 6px);  /* li뒤에 띄어쓰기 X, li를 부르는 게 아닌 li의 누구를 부를 때는 li.누구 <-이렇게 부름 */
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 232px; /* li가 아닌 a에 높이를 줌,
    넓이는 li에 줘야함(a에 줘버리면 기준값이 달라져서 쪼그라듬)*/
}
.community .list .group ul li.color.bg1 a {
    color: #fff;
    background-color: #066749;
}
.community .list .group ul li.color.bg2 a {
    color: #fff;
    background-color: #1E3487;
}
.community .list .group ul li.gray a {
    background-color: #EDEDED;
    color: #1d1d1d;
}
.community .list .group ul li.review {
    width: 100%;
    /* 나를 감싸는 요소 ul의 넓이의 100%가 들어감 */
}
.community .list .group ul li.review a {
    height: 383px;
    color: #fff;
}
.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
}
.community .list .group ul li a {
    display: block;
    padding: 0 30px 30px 30px; /* 높이가 설정되어 있을 땐 패딩으로 높이는 주지 않는 것 추천 */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.community .list .group ul li a h3 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -0.03em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1px 0 22px 0;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 43px;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgba(255,255,255,0.8);
}
.community .list .group ul li.gray a .date {
    color: #666;
}
footer {
    background-color: #1D1D1D;
    padding: 68px 0 109px 0;
    margin: 125px 0 0 0;
    color: rgba(255,255,255,0.8);
}
footer .f_nav {
    padding: 0 0 26px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
footer .f_nav ul {
    display: flex;
    gap: 42px;
}
footer .f_info {
    margin: 26px 0 24px 0;
}
footer .f_info .group {
    display: flex;
    gap: 42px;
    line-height: 1.8;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}