@import url(default.css);
@import url(common.css);
@import url(font.css);
header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* 맨 위 position 속성이 있는 요소끼리의 층수 - 제일 높은 숫자가 젤 위 */
    color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: flex; /* h1 nav tnb를 좌우에 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header .logo a {
    display: block;
    width: 170px;
    height: 57px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 0 25px; 
    line-height: 100px; /* header의 높이와 같은 값 */
    font-family: "GmarketSans";
    font-size: 21px;
    font-weight: 800;
}
header .tnb {
    display: flex; /* a를 좌우로 배치 */
    gap: 5px;
}
header .tnb a {
    display: block;
    position: relative; /* after 정렬의 기준 */
    width: 39px;
    height: 45px;
    padding: 0 35px 0 0;
}
header .tnb a::after {
    content: ""; /* 필수값 */
    position: absolute; /* a를 기준으로 정렬 */
    top: 8px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb a.icon01::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_88' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_88)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5313C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5313C17.5521 14.5104 16.375 15 15 15ZM5 22.5V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V22.5C25 23.1875 24.7552 23.776 24.2656 24.2656C23.776 24.7552 23.1875 25 22.5 25H7.5C6.8125 25 6.22396 24.7552 5.73438 24.2656C5.24479 23.776 5 23.1875 5 22.5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon02::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_83' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_83)'%3E%3Cpath d='M15 27.5C13.2917 27.5 11.6771 27.1719 10.1562 26.5156C8.63542 25.8594 7.30729 24.9635 6.17188 23.8281C5.03646 22.6927 4.14063 21.3646 3.48438 19.8438C2.82812 18.3229 2.5 16.7083 2.5 15C2.5 13.2708 2.82812 11.651 3.48438 10.1406C4.14063 8.63021 5.03646 7.30729 6.17188 6.17188C7.30729 5.03646 8.63542 4.14063 10.1562 3.48438C11.6771 2.82812 13.2917 2.5 15 2.5C16.7292 2.5 18.349 2.82812 19.8594 3.48438C21.3698 4.14063 22.6927 5.03646 23.8281 6.17188C24.9635 7.30729 25.8594 8.63021 26.5156 10.1406C27.1719 11.651 27.5 13.2708 27.5 15C27.5 16.7083 27.1719 18.3229 26.5156 19.8438C25.8594 21.3646 24.9635 22.6927 23.8281 23.8281C22.6927 24.9635 21.3698 25.8594 19.8594 26.5156C18.349 27.1719 16.7292 27.5 15 27.5ZM15 24.9375C15.5417 24.1875 16.0104 23.4063 16.4062 22.5938C16.8021 21.7813 17.125 20.9167 17.375 20H12.625C12.875 20.9167 13.1979 21.7813 13.5938 22.5938C13.9896 23.4063 14.4583 24.1875 15 24.9375ZM11.75 24.4375C11.375 23.75 11.0469 23.0365 10.7656 22.2969C10.4844 21.5573 10.25 20.7917 10.0625 20H6.375C6.97917 21.0417 7.73437 21.9479 8.64062 22.7188C9.54687 23.4896 10.5833 24.0625 11.75 24.4375ZM18.25 24.4375C19.4167 24.0625 20.4531 23.4896 21.3594 22.7188C22.2656 21.9479 23.0208 21.0417 23.625 20H19.9375C19.75 20.7917 19.5156 21.5573 19.2344 22.2969C18.9531 23.0365 18.625 23.75 18.25 24.4375ZM5.3125 17.5H9.5625C9.5 17.0833 9.45312 16.6719 9.42187 16.2656C9.39062 15.8594 9.375 15.4375 9.375 15C9.375 14.5625 9.39062 14.1406 9.42187 13.7344C9.45312 13.3281 9.5 12.9167 9.5625 12.5H5.3125C5.20833 12.9167 5.13021 13.3281 5.07812 13.7344C5.02604 14.1406 5 14.5625 5 15C5 15.4375 5.02604 15.8594 5.07812 16.2656C5.13021 16.6719 5.20833 17.0833 5.3125 17.5ZM12.0625 17.5H17.9375C18 17.0833 18.0469 16.6719 18.0781 16.2656C18.1094 15.8594 18.125 15.4375 18.125 15C18.125 14.5625 18.1094 14.1406 18.0781 13.7344C18.0469 13.3281 18 12.9167 17.9375 12.5H12.0625C12 12.9167 11.9531 13.3281 11.9219 13.7344C11.8906 14.1406 11.875 14.5625 11.875 15C11.875 15.4375 11.8906 15.8594 11.9219 16.2656C11.9531 16.6719 12 17.0833 12.0625 17.5ZM20.4375 17.5H24.6875C24.7917 17.0833 24.8698 16.6719 24.9219 16.2656C24.974 15.8594 25 15.4375 25 15C25 14.5625 24.974 14.1406 24.9219 13.7344C24.8698 13.3281 24.7917 12.9167 24.6875 12.5H20.4375C20.5 12.9167 20.5469 13.3281 20.5781 13.7344C20.6094 14.1406 20.625 14.5625 20.625 15C20.625 15.4375 20.6094 15.8594 20.5781 16.2656C20.5469 16.6719 20.5 17.0833 20.4375 17.5ZM19.9375 10H23.625C23.0208 8.95833 22.2656 8.05208 21.3594 7.28125C20.4531 6.51042 19.4167 5.9375 18.25 5.5625C18.625 6.25 18.9531 6.96354 19.2344 7.70312C19.5156 8.44271 19.75 9.20833 19.9375 10ZM12.625 10H17.375C17.125 9.08333 16.8021 8.21875 16.4062 7.40625C16.0104 6.59375 15.5417 5.8125 15 5.0625C14.4583 5.8125 13.9896 6.59375 13.5938 7.40625C13.1979 8.21875 12.875 9.08333 12.625 10ZM6.375 10H10.0625C10.25 9.20833 10.4844 8.44271 10.7656 7.70312C11.0469 6.96354 11.375 6.25 11.75 5.5625C10.5833 5.9375 9.54687 6.51042 8.64062 7.28125C7.73437 8.05208 6.97917 8.95833 6.375 10Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}




.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 100vh; /* 이미지가 브라우저 높이에 딱 맞게(100%) 설정 */
    min-height: 536px; /* 높이가 변하는 것은 막지 않지만 최소한 536px은 되어야 한다. */
    }
.visual h2 {
    font-family: "GmarketSans";
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    padding: 305px 0 7px 0;
    text-align: center;
}
.visual p {
    color: #fff;
    text-align: center;
}




.project {
    margin: 195px 0 127px 0;
}
.project .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.project .tit {
    width: 23.57%;
    position: sticky;
    top: 20px;
}
.project .tit h2 {
    color: #243279;
    margin: 0 0 3px 0;
}
.project .tit p {
    font-family: "GmarketSans";
    font-size: 48px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
}
.project .list {
    padding: 195px 0 0 0;
    width: 57.53%;
    display: flex;
    justify-content: space-between;
}
.project .list .list_left {
    margin: 155px 0 0 0;
}
.project .list ul li {
    margin: 0 0 23px 0;
}
.project .list ul li a {
    display: block;
    line-height: 100%;
    position: relative;
}
.project .list ul li a .photo {
    overflow: hidden;
    width: 352px;
    height: 511px;
    border-radius: 30px;
    position: relative;
}
.project .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt {
    position: absolute;
    bottom: 45px;
    left: 35px;
    color: #fff;
    transition: 0.5s;
}
.project .list ul li a:hover .txt {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 50, 121, 0.9);
    border-radius: 30px;
}
.project .list ul li a .txt strong {
    font-family: "GmarketSans";
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3;
}
.project .list ul li a:hover .txt strong {
padding: 0 0 3px 35px;
}
.project .list ul li a .txt p,
.project .list ul li a .txt span {
    display: none;
}
.project .list ul li a:hover .txt p,
.project .list ul li a:hover .txt span {
    display: block;
    line-height: normal;
}
.project .list ul li a:hover .txt p {
    padding: 0 35px 17px 35px;
}
.project .list ul li a:hover .txt span {
    padding: 0 19px 45px 35px;
    position: relative;
}
.project .list ul li a:hover .txt span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 48px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.42308 5.57692H0.576923C0.413462 5.57692 0.276474 5.5216 0.165962 5.41096C0.0553206 5.30032 0 5.16327 0 4.99981C0 4.83622 0.0553206 4.69923 0.165962 4.58885C0.276474 4.47833 0.413462 4.42308 0.576923 4.42308H4.42308V0.576923C4.42308 0.413462 4.4784 0.276474 4.58904 0.165962C4.69968 0.0553206 4.83673 0 5.00019 0C5.16378 0 5.30077 0.0553206 5.41115 0.165962C5.52167 0.276474 5.57692 0.413462 5.57692 0.576923V4.42308H9.42308C9.58654 4.42308 9.72353 4.4784 9.83404 4.58904C9.94468 4.69968 10 4.83673 10 5.00019C10 5.16378 9.94468 5.30077 9.83404 5.41115C9.72353 5.52167 9.58654 5.57692 9.42308 5.57692H5.57692V9.42308C5.57692 9.58654 5.5216 9.72353 5.41096 9.83404C5.30032 9.94468 5.16327 10 4.99981 10C4.83622 10 4.69923 9.94468 4.58885 9.83404C4.47833 9.72353 4.42308 9.58654 4.42308 9.42308V5.57692Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}




.news {
padding: 180px 0 128px 0;
background-color: #F2F2F8;
}
.news .wrapper {
    position: relative;/*more 정렬의 기준*/
}
.news .tit {
    margin: 0 0 32px 0;
}
.news h2 {
    color: #243279;
    margin: 0 0 3px 0;
}
.news .tit p {
    font-family: "GmarketSans";
    font-size: 48px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
}
.news .list {
    width: 100%;
}
.news .list ul li {
    margin: 0 0 5px 0;
}
.news .list ul li:last-child {
    margin: inherit;
}
.news .list ul li a {
    display: flex;
    justify-content: space-between;
    line-height: 100%;
    background-color: #fff;
    padding: 27px 40px;
}
.news .list ul li a:hover {
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.25);
}
.news .list ul li a .subject_wrap {
    display: flex;
    justify-content: space-between;
    gap: 102px;
}
.news .list ul li a .subject_wrap .category {
    background-color: #243279;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    padding: 0 19px;
}
.news .list ul li a .subject_wrap .subject {
    font-family: "GmarketSans";
    font-size: 20px;
    line-height: 1.3;
}
.news .list ul li a:hover .subject_wrap .subject {
    font-weight: 800;
    position: relative;
}
.news .list ul li a:hover .subject_wrap .subject::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(29, 29, 29, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
}
.news .list ul li a .date {
    color: rgba(85, 85, 85, 0.8);
}
.news .more {
    position: absolute;/*wrapper를 기준으로 정렬*/
    top: 72px;
    right: 0;
    font-size: 14px;
    color: #243279;
    border: 1px solid #243279;
    border-radius: 15px;
    padding: 0 25px 1px 18px;
}
.news .more:hover {
    color: #fff;
    background-color: #243279;
}
.news .more::before {
    content: "";
    position: absolute;/*more를 기준으로 정렬*/
    top: 6px;
    right: 12px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_178' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='0.5' y='0.5' width='9' height='9' fill='%23D9D9D9' stroke='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_178)'%3E%3Cpath d='M7.3457 4.99902L3.34082 9.00293L2.76758 8.42969L6.19824 4.99902L6.18945 4.99023L2.76758 1.56738L3.34082 0.994141L7.3457 4.99902Z' fill='%23243279' stroke='%23243279' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.news .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_178' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='0.5' y='0.5' width='9' height='9' fill='%23D9D9D9' stroke='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_178)'%3E%3Cpath d='M7.3457 4.99902L3.34082 9.00293L2.76758 8.42969L6.19824 4.99902L6.18945 4.99023L2.76758 1.56738L3.34082 0.994141L7.3457 4.99902Z' fill='%23ffffff' stroke='%23243279' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
}




.webzine {
padding: 195px 0 108px 0;
background-color: #243379;
}
.webzine .wrapper {
    position: relative;
}
.webzine .tit {
    margin: 0 0 53px 0;
}
.webzine h2 {
    color: #A1B1FF;
    margin: 0 0 3px 0;
}
.webzine .tit p {
    font-family: "GmarketSans";
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
}
.webzine .list ul {
    display: flex;
    justify-content: space-between;
}
.webzine .list ul li {
    width: calc(25% - 18px);
}
.webzine .list ul li a {
    display: block;
    line-height: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.webzine .list ul li a:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
    transform: translate(-5px, -5px);/*위,왼쪽으로 이동*/
}
.webzine .list ul li a .photo {
    width: 100%;
    height: 212px;
    overflow: hidden;
}
.webzine .list ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.webzine .list ul li a:hover img {
    transform: scale3d(1.2, 1.2, 1);
}
.webzine .list ul li a .txt {
    padding: 31px 20px 39px 20px;
}
.webzine .list ul li a .txt .category {
    color: #243379;
    padding: 0 0 11px 0;
}
.webzine .list ul li a .txt h3 {
    font-family: "GmarketSans";
    font-size: 20px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 8px 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    height: calc(1.3em * 2);
}
.webzine .list ul li a .txt p {
    display: -webkit-box;/*필수값*/
    -webkit-box-orient: vertical;/*필수값*/
    -webkit-line-clamp: 2;/*줄 수 제한*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}
.webzine .list ul li a .txt .date {
    padding: 32px 0 0 0;
    display: inline-block;
}
.webzine .more {
    position: absolute;/*wrapper를 기준으로 정렬*/
    top: 72px;
    right: 0;
    font-size: 14px;
    color: #A1B1FF;
    border: 1px solid #A1B1FF;
    border-radius: 15px;
    padding: 0 25px 1px 18px;
}
.webzine .more:hover {
    color: #243379;
    background-color: #fff;
    border-color: #fff;
}
.webzine .more::before {
    content: "";
    position: absolute;/*more를 기준으로 정렬*/
    top: 6px;
    right: 12px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_140' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_140)'%3E%3Cpath d='M3.34135 9.02135L2.75 8.43L6.18104 4.99896L2.75 1.56792L3.34135 0.976562L7.36375 4.99896L3.34135 9.02135Z' fill='%23A1B1FF'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.webzine .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_178' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='0.5' y='0.5' width='9' height='9' fill='%23D9D9D9' stroke='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_178)'%3E%3Cpath d='M7.3457 4.99902L3.34082 9.00293L2.76758 8.42969L6.19824 4.99902L6.18945 4.99023L2.76758 1.56738L3.34082 0.994141L7.3457 4.99902Z' fill='%23243379' stroke='%23243279' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
}





.service {
    margin: 195px 0 127px 0;
}
.service .tit {
    margin: 0 0 58px 0;
}
.service .tit h2 {
    color: #243279;
    margin: 0 0 3px 0;
}
.service .tit p {
    font-family: "GmarketSans";
    font-size: 48px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.service .list ul li:hover {
    transform: translate(-10px, -10px);/*위,왼쪽으로 이동*/
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}
.service .list ul li a {
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    position: relative;/*icon 정렬의 기준*/
}
.service .list ul li a:hover {
    background-color: #243379;
}
.service .list ul li a .txt strong {
    color: #243379;
    font-size: 15px;
    line-height: normal;
}
.service .list ul li a:hover .txt strong {
    color: #A1B1FF;
}
.service .list ul li a .txt h3 {
    font-family: "GmarketSans";
    font-size: 20px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 3px 0 0 0;
}
.service .list ul li a:hover .txt h3 {
    color: #fff;
}
.service .list ul li a .icon {
    position: absolute;/*a를 기준으로 정렬*/
    bottom: 25px;
    right: 35px;
    padding: 13px 13px;
    border: 1px solid #243379;
    border-radius: 50%;
    background-color: #243379;
    width: 17px;
    height: 17px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_195' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_195)'%3E%3Cpath d='M11.4579 9.20817H3.54232C3.34162 9.20817 3.17339 9.14029 3.03763 9.00452C2.90187 8.86876 2.83398 8.70053 2.83398 8.49983C2.83398 8.29914 2.90187 8.13091 3.03763 7.99515C3.17339 7.85938 3.34162 7.7915 3.54232 7.7915H11.4579L7.98711 4.32067C7.84544 4.179 7.77756 4.01372 7.78346 3.82483C7.78937 3.63594 7.86315 3.47067 8.00482 3.329C8.14648 3.19914 8.31176 3.13126 8.50065 3.12535C8.68954 3.11945 8.85482 3.18733 8.99648 3.329L13.6715 8.004C13.7423 8.07483 13.7925 8.15157 13.822 8.23421C13.8515 8.31685 13.8663 8.40539 13.8663 8.49983C13.8663 8.59428 13.8515 8.68282 13.822 8.76546C13.7925 8.8481 13.7423 8.92483 13.6715 8.99567L8.99648 13.6707C8.86662 13.8005 8.7043 13.8655 8.5095 13.8655C8.31471 13.8655 8.14648 13.8005 8.00482 13.6707C7.86315 13.529 7.79232 13.3608 7.79232 13.166C7.79232 12.9712 7.86315 12.803 8.00482 12.6613L11.4579 9.20817Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a:hover .icon {
    border-color: #fff;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_195' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_195)'%3E%3Cpath d='M11.4579 9.20817H3.54232C3.34162 9.20817 3.17339 9.14029 3.03763 9.00452C2.90187 8.86876 2.83398 8.70053 2.83398 8.49983C2.83398 8.29914 2.90187 8.13091 3.03763 7.99515C3.17339 7.85938 3.34162 7.7915 3.54232 7.7915H11.4579L7.98711 4.32067C7.84544 4.179 7.77756 4.01372 7.78346 3.82483C7.78937 3.63594 7.86315 3.47067 8.00482 3.329C8.14648 3.19914 8.31176 3.13126 8.50065 3.12535C8.68954 3.11945 8.85482 3.18733 8.99648 3.329L13.6715 8.004C13.7423 8.07483 13.7925 8.15157 13.822 8.23421C13.8515 8.31685 13.8663 8.40539 13.8663 8.49983C13.8663 8.59428 13.8515 8.68282 13.822 8.76546C13.7925 8.8481 13.7423 8.92483 13.6715 8.99567L8.99648 13.6707C8.86662 13.8005 8.7043 13.8655 8.5095 13.8655C8.31471 13.8655 8.14648 13.8005 8.00482 13.6707C7.86315 13.529 7.79232 13.3608 7.79232 13.166C7.79232 12.9712 7.86315 12.803 8.00482 12.6613L11.4579 9.20817Z' fill='%23243379'/%3E%3C/g%3E%3C/svg%3E%0A");
}





footer {
    background-color: #333A46;
    padding: 83px 0 110px 0;
    color: rgba(255,255,255,0.8);
}
footer .f_nav {
    margin: 0 0 30px 0;
}
footer .f_nav ul {
    display: flex;
    gap: 46px;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -23px;
    width: 1px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.2);
}
footer .f_nav ul li:first-child:before {
    display: none;
}
footer .f_nav ul li a {
    position: relative;
}
footer .f_nav ul li a:hover:before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
footer .f_nav ul li .privacy {
    font-weight: 800;
}
footer .f_info {
    margin: 0 0 30px 0;
}
footer .f_info {
    display: flex;
    gap: 28px;
}
footer .f_info strong {
    font-weight: 800;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}
