@import url(default.css);
@import url(common.css);
@import url(res_common.css);

header {
    position: fixed; /* 상단고정 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}
header .wrapper {
    display: flex; /* logo,gnb,tnb */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 218px;
    height: 35px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain - 로고를 안짤리고 영역에 맞게 리사이즈 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차 메뉴 li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    font-size: 21px;
    font-weight: 800;
    line-height: 100px; /* header 높이와 동일 */
    padding: 0 23px;
    color: #fff;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 숨김 */
}
header .tnb .search {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6667 30L17.1667 19.5C16.3333 20.1667 15.375 20.6944 14.2917 21.0833C13.2083 21.4722 12.0556 21.6667 10.8333 21.6667C7.80555 21.6667 5.24306 20.6181 3.14583 18.5208C1.04861 16.4236 0 13.8611 0 10.8333C0 7.80555 1.04861 5.24306 3.14583 3.14583C5.24306 1.04861 7.80555 0 10.8333 0C13.8611 0 16.4236 1.04861 18.5208 3.14583C20.6181 5.24306 21.6667 7.80555 21.6667 10.8333C21.6667 12.0556 21.4722 13.2083 21.0833 14.2917C20.6944 15.375 20.1667 16.3333 19.5 17.1667L30 27.6667L27.6667 30ZM10.8333 18.3333C12.9167 18.3333 14.6875 17.6042 16.1458 16.1458C17.6042 14.6875 18.3333 12.9167 18.3333 10.8333C18.3333 8.75 17.6042 6.97917 16.1458 5.52083C14.6875 4.0625 12.9167 3.33333 10.8333 3.33333C8.75 3.33333 6.97917 4.0625 5.52083 5.52083C4.0625 6.97917 3.33333 8.75 3.33333 10.8333C3.33333 12.9167 4.0625 14.6875 5.52083 16.1458C6.97917 17.6042 8.75 18.3333 10.8333 18.3333Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
/********************** header가 고정되었을 때 *********************/
header.fixd {
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
header.fixd .logo a {
    background-image: url(../images/logo_c.svg);
    /* backgroundfh로 선언하고 배경이미지, 반복, 위치, 크기를
    지정했는데 이때 이미지만 변경하려면
    반드시 background-image 라고 속성을 쓰고 변경해야함
    background라고 하면 모든 반복, 위치, 크기 등의 다른 속성이 취소됨...
    */
}
header.fixd .gnb .gnb_wrap ul.depth1 > li > a {
    color: #231F20;
}
header.fixd .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6667 30L17.1667 19.5C16.3333 20.1667 15.375 20.6944 14.2917 21.0833C13.2083 21.4722 12.0556 21.6667 10.8333 21.6667C7.80555 21.6667 5.24306 20.6181 3.14583 18.5208C1.04861 16.4236 0 13.8611 0 10.8333C0 7.80555 1.04861 5.24306 3.14583 3.14583C5.24306 1.04861 7.80555 0 10.8333 0C13.8611 0 16.4236 1.04861 18.5208 3.14583C20.6181 5.24306 21.6667 7.80555 21.6667 10.8333C21.6667 12.0556 21.4722 13.2083 21.0833 14.2917C20.6944 15.375 20.1667 16.3333 19.5 17.1667L30 27.6667L27.6667 30ZM10.8333 18.3333C12.9167 18.3333 14.6875 17.6042 16.1458 16.1458C17.6042 14.6875 18.3333 12.9167 18.3333 10.8333C18.3333 8.75 17.6042 6.97917 16.1458 5.52083C14.6875 4.0625 12.9167 3.33333 10.8333 3.33333C8.75 3.33333 6.97917 4.0625 5.52083 5.52083C4.0625 6.97917 3.33333 8.75 3.33333 10.8333C3.33333 12.9167 4.0625 14.6875 5.52083 16.1458C6.97917 17.6042 8.75 18.3333 10.8333 18.3333Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            header {
                height: 56px;
            }
            header .wrapper {
                margin-right: 0;
                /* 오른쪽 여백 삭제 - gnb_open 배치하려고 */
            }
            header .logo a {
                width: 137px;
                height: 22px;
            }
            header .gnb .gnb_open {
                display: block; /* 나타남 */
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_62' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_62)'%3E%3Cpath d='M5.16667 9.04097C4.80069 9.04097 4.49392 8.91719 4.24635 8.66962C3.99878 8.42205 3.875 8.11528 3.875 7.7493C3.875 7.38333 3.99878 7.07656 4.24635 6.82899C4.49392 6.58142 4.80069 6.45764 5.16667 6.45764H25.8333C26.1993 6.45764 26.5061 6.58142 26.7536 6.82899C27.0012 7.07656 27.125 7.38333 27.125 7.7493C27.125 8.11528 27.0012 8.42205 26.7536 8.66962C26.5061 8.91719 26.1993 9.04097 25.8333 9.04097H5.16667ZM5.16667 24.541C4.80069 24.541 4.49392 24.4172 4.24635 24.1696C3.99878 23.922 3.875 23.6153 3.875 23.2493C3.875 22.8833 3.99878 22.5766 4.24635 22.329C4.49392 22.0814 4.80069 21.9576 5.16667 21.9576H25.8333C26.1993 21.9576 26.5061 22.0814 26.7536 22.329C27.0012 22.5766 27.125 22.8833 27.125 23.2493C27.125 23.6153 27.0012 23.922 26.7536 24.1696C26.5061 24.4172 26.1993 24.541 25.8333 24.541H5.16667ZM5.16667 16.791C4.80069 16.791 4.49392 16.6672 4.24635 16.4196C3.99878 16.172 3.875 15.8653 3.875 15.4993C3.875 15.1333 3.99878 14.8266 4.24635 14.579C4.49392 14.3314 4.80069 14.2076 5.16667 14.2076H25.8333C26.1993 14.2076 26.5061 14.3314 26.7536 14.579C27.0012 14.8266 27.125 15.1333 27.125 15.4993C27.125 15.8653 27.0012 16.172 26.7536 16.4196C26.5061 16.6672 26.1993 16.791 25.8333 16.791H5.16667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김 */
            }
            header .tnb {
                display: none;/* 숨김 */
            }
            /********************** header가 고정되었을 때 *********************/
            header.fixd .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_62' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_62)'%3E%3Cpath d='M5.16667 9.04097C4.80069 9.04097 4.49392 8.91719 4.24635 8.66962C3.99878 8.42205 3.875 8.11528 3.875 7.7493C3.875 7.38333 3.99878 7.07656 4.24635 6.82899C4.49392 6.58142 4.80069 6.45764 5.16667 6.45764H25.8333C26.1993 6.45764 26.5061 6.58142 26.7536 6.82899C27.0012 7.07656 27.125 7.38333 27.125 7.7493C27.125 8.11528 27.0012 8.42205 26.7536 8.66962C26.5061 8.91719 26.1993 9.04097 25.8333 9.04097H5.16667ZM5.16667 24.541C4.80069 24.541 4.49392 24.4172 4.24635 24.1696C3.99878 23.922 3.875 23.6153 3.875 23.2493C3.875 22.8833 3.99878 22.5766 4.24635 22.329C4.49392 22.0814 4.80069 21.9576 5.16667 21.9576H25.8333C26.1993 21.9576 26.5061 22.0814 26.7536 22.329C27.0012 22.5766 27.125 22.8833 27.125 23.2493C27.125 23.6153 27.0012 23.922 26.7536 24.1696C26.5061 24.4172 26.1993 24.541 25.8333 24.541H5.16667ZM5.16667 16.791C4.80069 16.791 4.49392 16.6672 4.24635 16.4196C3.99878 16.172 3.875 15.8653 3.875 15.4993C3.875 15.1333 3.99878 14.8266 4.24635 14.579C4.49392 14.3314 4.80069 14.2076 5.16667 14.2076H25.8333C26.1993 14.2076 26.5061 14.3314 26.7536 14.579C27.0012 14.8266 27.125 15.1333 27.125 15.4993C27.125 15.8653 27.0012 16.172 26.7536 16.4196C26.5061 16.6672 26.1993 16.791 25.8333 16.791H5.16667Z' fill='%23231F20'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/* @media */




.visual {
    height: 100vh; /* 브라우저 높이 */
    background: url(../images/vg_bg.jpg) no-repeat center center / cover;
    color: #fff;
    border: 1px solid transparent; /* 투명한 1px border -> margin이 영역 밖으로 못나가게 하는 방법 */
}
.visual h2 {
    margin: 52vh 0 0 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.2;
}
@media screen and (max-width:640px){
            .visual h2 {
                margin: 50.71vh 0 0 0;
                transform: translateY(-50%);
                /* 나의 높이 절반을 위로 이동 */
                font-weight: 800;
                font-size: 35px;
                line-height: 1.2;
            }
            .visual h2 br {
                display: none;
            }
}/*@media*/









footer {
    margin: 3000px 0 0 0;
}