@font-face {
	font-family: "Ubuntu", serif;
  	font-weight: 500;
  	font-style: normal;
	src: url(../font/4iCv6KVjbNBYlgoCjC3jvWyNL4U.woff2) format('woff2');
}

@font-face {
	font-family: "Ubuntu", serif;
	font-weight: 700;
	font-style: normal;
	src: url(../font/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format('woff2');
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-style: normal;
	src: url(../font/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
	font-style: normal;
	src: url(../font/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
}