header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 1.18em;
    height: var(--header-h);
    display: flex; /*logo, gnb, util */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 163px;
    height: 39px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
@media screen and (min-width:1025px){
    /* 1025px이상에서만 적용 */
            header .gnb .gnb_open,
            header .gnb .gnb_close {
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1 {
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                width: 155px;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                line-height: var(--header-h);
                color: #fff;
                font-size: 22px;
                font-family: var(--tit-font-family);
                text-align: center;
            }
            header .util {
                display: flex;
            }
            header .util .mypage,
            header .util .lang .lang_open,
            header .util .search .search_open {
                display: block;
                width: 36px;
                height: 36px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .util .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            header .util .lang .lang_open {
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            header .util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='white'/%3E%3C/svg%3E%0A");
            }

            /********** 배경이 흰색이 되었을 때 *********/
            body.fp-responsive header.fixed {
                background-color: #fff;
            }
            body.bg_w header,
            body.fp-responsive header.fixed {
                box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.05);
            }
            body.bg_w header .logo a,
            body.fp-responsive header.fixed .logo a {
                background-image: url(../images/common/logo_c.png);
            }
            body.bg_w header .gnb .gnb_wrap ul.depth1 > li > a,
            body.fp-responsive header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                color: var(--tit-color);
            }
            body.bg_w header .util .mypage,
            body.fp-responsive header.fixed .util .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            body.bg_w header .util .lang .lang_open,
            body.fp-responsive header.fixed .util .lang .lang_open {
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            body.bg_w header .util .search .search_open,
            body.fp-responsive header.fixed .util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
}/*@media*/
@media screen and (max-width:1024px){
        header {
            padding-right: 0;
        }
        header .logo a {
            width: 98px;
            height: 23px;
        }
        header .gnb .gnb_open {
            display: block;
            width: var(--header-h);
            height: var(--header-h);
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_3307' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_3307)'%3E%3Cpath d='M5.16667 9.04085C4.80069 9.04085 4.49392 8.91707 4.24635 8.6695C3.99878 8.42193 3.875 8.11516 3.875 7.74919C3.875 7.38321 3.99878 7.07644 4.24635 6.82887C4.49392 6.5813 4.80069 6.45752 5.16667 6.45752H25.8333C26.1993 6.45752 26.5061 6.5813 26.7536 6.82887C27.0012 7.07644 27.125 7.38321 27.125 7.74919C27.125 8.11516 27.0012 8.42193 26.7536 8.6695C26.5061 8.91707 26.1993 9.04085 25.8333 9.04085H5.16667ZM5.16667 24.5409C4.80069 24.5409 4.49392 24.4171 4.24635 24.1695C3.99878 23.9219 3.875 23.6152 3.875 23.2492C3.875 22.8832 3.99878 22.5764 4.24635 22.3289C4.49392 22.0813 4.80069 21.9575 5.16667 21.9575H25.8333C26.1993 21.9575 26.5061 22.0813 26.7536 22.3289C27.0012 22.5764 27.125 22.8832 27.125 23.2492C27.125 23.6152 27.0012 23.9219 26.7536 24.1695C26.5061 24.4171 26.1993 24.5409 25.8333 24.5409H5.16667ZM5.16667 16.7909C4.80069 16.7909 4.49392 16.6671 4.24635 16.4195C3.99878 16.1719 3.875 15.8652 3.875 15.4992C3.875 15.1332 3.99878 14.8264 4.24635 14.5789C4.49392 14.3313 4.80069 14.2075 5.16667 14.2075H25.8333C26.1993 14.2075 26.5061 14.3313 26.7536 14.5789C27.0012 14.8264 27.125 15.1332 27.125 15.4992C27.125 15.8652 27.0012 16.1719 26.7536 16.4195C26.5061 16.6671 26.1993 16.7909 25.8333 16.7909H5.16667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap,
        header .gnb .gnb_close,
        header .util {
            display: none;
        }

        /*************** header에 fixed 클래스 추가 ***************/
        header.fixed {
            background-color: #fff;
            box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.04);
        }
        header.fixed .logo a {
            background-image: url(../images/common/logo_c.png);
        }
        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_3307' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_3307)'%3E%3Cpath d='M5.16667 9.04085C4.80069 9.04085 4.49392 8.91707 4.24635 8.6695C3.99878 8.42193 3.875 8.11516 3.875 7.74919C3.875 7.38321 3.99878 7.07644 4.24635 6.82887C4.49392 6.5813 4.80069 6.45752 5.16667 6.45752H25.8333C26.1993 6.45752 26.5061 6.5813 26.7536 6.82887C27.0012 7.07644 27.125 7.38321 27.125 7.74919C27.125 8.11516 27.0012 8.42193 26.7536 8.6695C26.5061 8.91707 26.1993 9.04085 25.8333 9.04085H5.16667ZM5.16667 24.5409C4.80069 24.5409 4.49392 24.4171 4.24635 24.1695C3.99878 23.9219 3.875 23.6152 3.875 23.2492C3.875 22.8832 3.99878 22.5764 4.24635 22.3289C4.49392 22.0813 4.80069 21.9575 5.16667 21.9575H25.8333C26.1993 21.9575 26.5061 22.0813 26.7536 22.3289C27.0012 22.5764 27.125 22.8832 27.125 23.2492C27.125 23.6152 27.0012 23.9219 26.7536 24.1695C26.5061 24.4171 26.1993 24.5409 25.8333 24.5409H5.16667ZM5.16667 16.7909C4.80069 16.7909 4.49392 16.6671 4.24635 16.4195C3.99878 16.1719 3.875 15.8652 3.875 15.4992C3.875 15.1332 3.99878 14.8264 4.24635 14.5789C4.49392 14.3313 4.80069 14.2075 5.16667 14.2075H25.8333C26.1993 14.2075 26.5061 14.3313 26.7536 14.5789C27.0012 14.8264 27.125 15.1332 27.125 15.4992C27.125 15.8652 27.0012 16.1719 26.7536 16.4195C26.5061 16.6671 26.1993 16.7909 25.8333 16.7909H5.16667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
}/*@media*/




footer {
    background-color: #161A16;
    color: rgba(255,255,255,0.8);
}
footer .footer_head {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: relative; /* before 정렬의 기준 */
    padding: 34px 0 27px 0;
}
footer .footer_head::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
}
footer .footer_head .wrapper {
    display: flex;
    gap: 60px;
}
footer .footer_head .item {
    width: calc(50% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
footer .footer_head .item h2 {
    color: #fff;
    font-family: var(--tit-font-family);
    font-size: var(--sub-tit-size);
    line-height: var(--tit-line-height);
    margin: 0 0 8px 0;
}
footer .footer_head .item a {
    position: relative; /* before */
    display: block;
    border: 1px solid var(--sub-color);
    border-radius: 25px;
    color: var(--sub-color);
    padding: 0.53em 1.71em 0.53em 3.18em;
}
footer .footer_head .item a::before {
    content: "";
    position: absolute;
    top: 0.59em;
    left: 1.41em;
    width: 1.29em;
    height: 1.29em;
    background-repeat: no-repeat;
    background-position: center center;
}
footer .footer_head .item.newsletter a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_2427' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%234B9C5B'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_2427)'%3E%3Cpath d='M3.66659 18.3337C3.16242 18.3337 2.73082 18.1541 2.37179 17.7951C2.01277 17.4361 1.83325 17.0045 1.83325 16.5003V5.50033C1.83325 4.99616 2.01277 4.56456 2.37179 4.20553C2.73082 3.84651 3.16242 3.66699 3.66659 3.66699H18.3333C18.8374 3.66699 19.269 3.84651 19.628 4.20553C19.9871 4.56456 20.1666 4.99616 20.1666 5.50033V16.5003C20.1666 17.0045 19.9871 17.4361 19.628 17.7951C19.269 18.1541 18.8374 18.3337 18.3333 18.3337H3.66659ZM10.9999 11.917L3.66659 7.33366V16.5003H18.3333V7.33366L10.9999 11.917ZM10.9999 10.0837L18.3333 5.50033H3.66659L10.9999 10.0837ZM3.66659 7.33366V5.50033V16.5003V7.33366Z' fill='%234B9C5B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_head .item.support a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_3378' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_3378)'%3E%3Cpath d='M10.0834 19.25L7.173 16.6375C6.073 15.6444 5.12959 14.7583 4.34279 13.9792C3.55598 13.2 2.90668 12.4667 2.39487 11.7792C1.88307 11.0917 1.50876 10.4271 1.27196 9.78542C1.03515 9.14375 0.916748 8.47153 0.916748 7.76875C0.916748 6.33264 1.398 5.13715 2.3605 4.18229C3.323 3.22743 4.5223 2.75 5.95841 2.75C6.75286 2.75 7.50911 2.91806 8.22716 3.25417C8.94522 3.59028 9.56397 4.06389 10.0834 4.675C10.6029 4.06389 11.2216 3.59028 11.9397 3.25417C12.6577 2.91806 13.414 2.75 14.2084 2.75C15.4459 2.75 16.4848 3.09757 17.3251 3.79271C18.1654 4.48785 18.7383 5.3625 19.0438 6.41667H17.0959C16.8209 5.80556 16.4161 5.34722 15.8813 5.04167C15.3466 4.73611 14.789 4.58333 14.2084 4.58333C13.4292 4.58333 12.757 4.7934 12.1917 5.21354C11.6265 5.63368 11.0994 6.1875 10.6105 6.875H9.55633C9.08272 6.1875 8.54418 5.63368 7.94071 5.21354C7.33723 4.7934 6.67647 4.58333 5.95841 4.58333C5.08758 4.58333 4.33515 4.88507 3.70112 5.48854C3.0671 6.09201 2.75008 6.85208 2.75008 7.76875C2.75008 8.27292 2.85703 8.78472 3.07091 9.30417C3.2848 9.82361 3.66675 10.4233 4.21675 11.1031C4.76675 11.783 5.51536 12.5774 6.46258 13.4865C7.4098 14.3955 8.61675 15.4917 10.0834 16.775C10.4806 16.4236 10.9466 16.0188 11.4813 15.5604C12.0161 15.1021 12.4438 14.7201 12.7647 14.4146L14.0709 15.7208C13.7348 16.0264 13.307 16.4045 12.7876 16.8552C12.2681 17.3059 11.8098 17.7069 11.4126 18.0583L10.0834 19.25ZM16.5001 15.5833V12.8333H13.7501V11H16.5001V8.25H18.3334V11H21.0834V12.8333H18.3334V15.5833H16.5001Z' fill='%234B9C5B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_sub {
    padding: 48px 0 80px 0;
}
footer .footer_sub .wrapper {
    display: flex;
    gap: 61px;
    position: relative; /* sns 정렬의 기준 */
}
footer .footer_sub .f_logo img {
    width: 100px;
}
footer .footer_sub .sns {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
}
footer .footer_sub .sns ul li {
    margin-bottom: 4px;
}
footer .footer_sub .sns ul li a {
    position: relative; /* before */
    display: block;
    font-size: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 3px 20px 3px 42px;
}
footer .footer_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 5px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
}
footer .footer_sub .sns ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 3V14H10.9733L7.02674 8.46217V14H3V3H7.02674L10.9733 8.76046V3H15Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.facebook a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4148 9.5616L12.882 6.48414H9.96067V4.48975C9.96067 3.65001 10.3665 2.82936 11.6738 2.82936H13V0.209933C13 0.209933 11.7965 0 10.645 0C8.2428 0 6.67121 1.47432 6.67121 4.14145V6.48414H4V9.5616H6.67121V17H9.96067V9.5616H12.4148Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_159_137)'%3E%3Cpath d='M8.5 2C4.35683 2 1 4.69574 1 8.02379C1 10.1886 2.42303 12.0879 4.55876 13.1498C4.40196 13.7435 3.99097 15.3049 3.90782 15.638C3.80567 16.0531 4.05749 16.0459 4.22141 15.9348C4.3497 15.848 6.27637 14.5158 7.10786 13.9414C7.55923 14.009 8.02487 14.0452 8.5 14.0452C12.6432 14.0452 16 11.3494 16 8.02138C16 4.69333 12.6432 2 8.5 2ZM13.1516 9.79038L12.1348 8.37856L11.902 8.56921C11.902 8.56921 11.902 9.26668 11.902 9.63351C11.902 9.94966 11.1085 9.94966 11.1085 9.63351C11.1085 9.4332 11.1251 6.72781 11.118 6.42855C11.1132 6.26444 11.3223 6.17756 11.5266 6.17756C11.7167 6.17756 11.902 6.25237 11.9067 6.40683C11.9186 6.81227 11.9067 7.54594 11.9067 7.54594C11.9067 7.54594 13.0565 6.37787 13.2205 6.21376C13.3891 6.04241 13.9118 6.57818 13.7431 6.74711C13.4533 7.03913 12.7192 7.8452 12.7192 7.8452L13.8001 9.29081C14.0044 9.56594 13.3583 10.0655 13.1516 9.78797V9.79038ZM7.42382 6.41407C7.56161 6.71091 8.30995 8.80572 8.52851 9.38735C8.68055 9.79521 7.94647 10.0776 7.79443 9.66971C7.60675 9.16773 7.65426 9.1436 7.65426 9.1436H6.24074L6.08632 9.69143C5.92239 10.0752 5.21207 9.76142 5.37599 9.37769C5.60405 8.84434 6.29062 6.83882 6.48068 6.41407C6.5567 6.24513 6.7325 6.17756 6.91305 6.17756C7.13161 6.17756 7.3573 6.2765 7.42144 6.41407H7.42382ZM5.61593 6.17756C6.09582 6.17756 6.09582 6.94501 5.61593 6.94501C5.10754 6.94501 4.84859 6.94501 4.84859 6.94501V9.578C4.84622 9.94484 4.04324 9.94001 4.04324 9.57318C4.04799 9.0712 4.04324 6.91605 4.04324 6.91605H3.27114C2.81739 6.91605 2.81739 6.16549 3.27114 6.16308C3.27114 6.16308 5.07903 6.17756 5.61831 6.17756H5.61593ZM8.80171 9.41872C8.80171 9.41872 8.79934 7.22013 8.79696 6.53715C8.79696 6.29822 9.00602 6.17756 9.21508 6.17756C9.42414 6.17756 9.63082 6.29822 9.6332 6.53474C9.6332 7.02948 9.6332 9.06154 9.6332 9.06154C9.6332 9.06154 10.296 9.06637 10.6595 9.06637C11.023 9.06637 11.023 9.85072 10.6595 9.85072C10.296 9.85072 9.47878 9.85554 9.11055 9.85554C8.74232 9.85554 8.80409 9.41872 8.80409 9.41872H8.80171Z' fill='white'/%3E%3Cpath d='M7.39294 8.4221L6.96295 7.05371L6.49731 8.4221H7.39294Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_159_137'%3E%3Crect width='15' height='14' fill='white' transform='translate(1 2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4709 3.67383C11.9867 3.67383 11.5908 4.06967 11.5908 4.55395C11.5908 5.03823 11.9867 5.43407 12.4709 5.43407C12.9552 5.43407 13.3511 5.03823 13.3511 4.55395C13.3511 4.06967 12.9552 3.67383 12.4709 3.67383Z' fill='url(%23paint0_linear_159_138)'/%3E%3Cpath d='M8.55888 4.80273C6.5207 4.80273 4.86572 6.46192 4.86572 8.49589C4.86572 10.5299 6.52491 12.189 8.55888 12.189C10.5929 12.189 12.252 10.5299 12.252 8.49589C12.252 6.46192 10.5929 4.80273 8.55888 4.80273ZM8.55888 10.8667C7.25343 10.8667 6.19222 9.80554 6.19222 8.5001C6.19222 7.19465 7.25343 6.13345 8.55888 6.13345C9.86433 6.13345 10.9255 7.19465 10.9255 8.5001C10.9255 9.80554 9.86433 10.8667 8.55888 10.8667Z' fill='url(%23paint1_linear_159_138)'/%3E%3Cpath d='M11.4941 16H5.5059C3.02134 16 1 13.9787 1 11.4941V5.50589C1 3.02134 3.02134 1 5.5059 1H11.4941C13.9787 1 16 3.02134 16 5.50589V11.4941C16 13.9787 13.9787 16 11.4941 16ZM5.50169 2.40651C3.79618 2.40651 2.40651 3.79618 2.40651 5.50169V11.4899C2.40651 13.1954 3.79618 14.5851 5.50169 14.5851H11.4899C13.1954 14.5851 14.5851 13.1954 14.5851 11.4899V5.50169C14.5851 3.79618 13.1954 2.40651 11.4899 2.40651H5.50169Z' fill='url(%23paint2_linear_159_138)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_159_138' x1='5.59841' y1='-2.0238' x2='19.2045' y2='11.0012' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_159_138' x1='1.75792' y1='1.98971' x2='15.364' y2='15.0105' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_159_138' x1='1.72852' y1='2.01909' x2='15.3346' y2='15.0399' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 6.44808C17 4.54164 15.4261 3 13.4896 3H4.51036C2.5695 3 1 4.54598 1 6.44808V10.5519C1 12.4583 2.57392 14 4.51036 14H13.4896C15.4305 14 17 12.454 17 10.5519V6.44808ZM11.7168 8.80616L7.68914 10.7647C7.52998 10.8472 6.99502 10.7343 6.99502 10.5606V6.54361C6.99502 6.36556 7.53439 6.25265 7.69355 6.33951L11.5488 8.39795C11.7123 8.48914 11.8803 8.71931 11.7168 8.80616Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .info_wrap {
    margin: 0 190px 0 0; /* sns랑 안부딪히게 */
}
footer .footer_sub .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.76em;
}
footer .footer_sub .f_nav ul li {
    position: relative; /* after */
}
footer .footer_sub .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -1.38em;
    top: 0.29em;
    width: 1px;
    height: 0.82em;
    background-color: rgba(255,255,255,0.2);
}
footer .footer_sub .f_nav ul li:last-child:after {
    display: none;
}
footer .footer_sub .f_info {
    margin: 35px 0;
}
footer .footer_sub .f_info span,
footer .footer_sub .f_info address {
    display: inline-block;
    margin: 0 2.82em 0 0;
}
footer .footer_sub .copyright {
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:1024px){
            footer .footer_head {
                padding: 24px 0;
            }
            footer .footer_head .wrapper {
                gap: 40px;
            }
            footer .footer_head .item {
                width: 50%;
                flex-direction: column;
                text-align: center;
                gap: 12px;
            }
            footer .footer_head .item h2 {
                text-align: center;
                margin: 0;
            }
            footer .footer_head .item p {
                display: none;
            }
            footer .footer_sub {
                padding: 53px 0 100px 0;
            }
            footer .footer_sub .wrapper {
                display: block;
            }
            footer .footer_sub .f_logo {
                text-align: center;
            }
            footer .footer_sub .sns {
                position: relative;
                right: auto;
                top: auto;
                margin: 4px 0 29px 0;
            }
            footer .footer_sub .sns ul {
                display: flex;
                justify-content: center;
                gap: 5px;
            }
            footer .footer_sub .sns ul li {
                margin-bottom: 0;
            }
            footer .footer_sub .sns ul li a {
                border-radius: 50%;
                padding: 0;
                width: 30px;
                height: 30px;
                color: transparent;
            }
            footer .footer_sub .sns ul li a::before {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: 16px;
            }
            footer .footer_sub .info_wrap {
                margin: 0;
            }
            footer .footer_sub .f_info {
                margin: 32px 0;
            }
}/*@media*/