@import url(font.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);


.visual .swiper {
    height: 100%;
    width: 100%; /* fullpage로 인해 커진 너비 조절 */
    height: 100dvh; /* 화면의 높이에 꽉 맞게 */
    /* js-responsiveHeight로 인해 스위퍼, 비주얼, wrapper, li 등
       높이가 각각 달라져서 고정으로 최소 높이(min)를 주면 fullpage 자체
       고정값 때문에 안먹음 -> 그래서 100dvh로 설정함 (.visual에 주면 충돌이나서 안됨) */
}
.visual .swiper .swiper-slide .photo {
    overflow: hidden;
    height: 100%; /* 100dvh도 가능 */
}
.visual .swiper .swiper-slide .photo img,
.visual .swiper .swiper-slide .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper .swiper-slide .visual_txt {
    position: absolute; /* swiper-slide 기준으로 정렬 */
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
.visual .swiper .swiper-slide .visual_txt h3 {
    font-size: var(--display-size);
    font-family: var(--tit-font-family);
    line-height: var(--tit-line-height);
    margin: 9px 0 20px 0;
}
.visual .swiper .swiper-slide .visual_txt a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 11px 38px;
}
@media screen and (min-width:769px){
    /* 769px 이상에서만 적용 */
        .visual .paging {
            position: absolute; /* swiper를 기준으로 정렬 */
            left: 50%;
            bottom: 4%;
            z-index: 10;
            transform: translateX(-50%);
            width: calc(100% - 40px);
            max-width: 1260px;
            color: #fff;
            display: flex;
        }
        .visual .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .visual .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0;
        }
        .visual .paging .swiper-pagination-bullet-active {
            opacity: 1;
            background: transparent;
            /* 선택된 팝업 변경 스타일 */
        }
        .visual .paging .swiper-pagination-bullet {
            width: 25%;
            height: auto;
            display: block;
            border-radius: 0;
            background: transparent;
            opacity: 1;
            margin: 0;
            text-align: center;
            border-bottom: 7px solid rgba(255,255,255,0.2);
            padding: 0 0 5px 0;
            position: relative; /* before 정렬의 기준 */
        }
        .visual .paging .swiper-pagination-bullet::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 0;
            height: 7px;
            background-color: #fff;
            /* transition: 5s; -> transition으로 하면 선택 전 바가 거꾸로 가서 안됨 */
        }
        .visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
            animation-name: visual_paging;
            animation-duration: 5s; /* jquery의 autoplay 시간과 맞추기 */
            animation-iteration-count: 1; /* 반복 횟수*/
            animation-fill-mode: forwards; /* 마지막 100% 유지 */
            /* animation-timing-function: linear; 가속도 삭제 */
        }
}/*@media*/
@keyframes visual_paging {
    0% { width: 0; }
    100% { width: 100%; }
}

@media screen and (max-width:768px){
            .visual .swiper {
                height: 700px;
            }
            .visual .swiper .swiper-slide .visual_txt h3 {
                margin: 6px 0 16px 0;
            }
            .visual .swiper .swiper-slide .visual_txt h3 br {
                display: none;
            }
            .visual .swiper .swiper-slide .visual_txt a {
                padding: 6px 28px;
            }
            .visual .paging {
                position: absolute; /* swiper를 기준으로 정렬 */
                bottom: 30px;
                left: 50%;
                z-index: 10;
                transform: translateX(-50%);
                display: flex;
                width: auto;
                gap: 3px;
            }
            .visual .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
            .visual .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0;
            }
            .visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
                /* 우선순위가 active가 들어가기 전에 준 요소에 밀려서 안들어감
                -> 그래서 그 전 선택자(.swiper-pagination-bullet)를 붙여 더 자세히 불러줌 */
                opacity: 1;
                background: #fff;
                width: 35px;
            }
            .visual .paging .swiper-pagination-bullet {
                width: 9px;
                height: 5px;
                border-radius: 3px;
                background: rgba(255,255,255,0.6);
                opacity: 1;
                font-size: 0;
                line-height: 0;
                margin: 0;
            }
}/*@media*/






.tree .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tree .tit h2 {
    color: var(--main-color);
    font-family: var(--tit-font-family);
    font-size: var(--font-size);
    line-height: var(--tit-line-height);
    margin: 0 0 7px 0;
}
.tree .tit h2 strong {
    position: relative; /* after 정렬의 기준 */
}
.tree .tit h2 strong::after {
    content: "+";
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 40px;
}
.tree .tit {
    width: 40%;
}
.tree .tree_ani {
    position: relative; /* 꽃, 태양 정렬의 기준 */
    max-width: 703px;
    /* width: calc(100% - 396px); */
    width: 58%;
    margin: 10% 0 0 0;
}
.tree .tree_ani .img_tree {
    width: 80%;
    /*position: relative; /* z-index는 무조건 position이 있어야함(난 없어서 안해줌) */
}
.tree .tree_ani .img_flower1 {
    position: absolute;
    left: 1%;
    bottom: 9%;
    width: 22%;
    animation: tree_up1 5s linear infinite;
}
.tree .tree_ani .img_flower2 {
    position: absolute;
    right: 16%;
    bottom: 12%;
    width: 30.01%;
    animation: tree_up2 5s linear infinite;
}
.tree .tree_ani .img_sun {
    position: absolute;
    right: 4%;
    top: -10%;
    z-index: 1;
    width: 20.48%;
    animation: tree_rotate 15s linear infinite;
}
@keyframes tree_up1 {
    /* 왔다갔다하는 반복되는 애니메이션은 0%, 100% 둘의 값이 같아야함 */
    0% { transform: translateY(7.7%); }
    50% { transform: translateY(-7.7%); }
    100% { transform: translateY(7.7%); }
}
/* @keyframes tree_size {
    /* 앞뒤로 커졌다 작아졌다 효과 *
    0% { transform: scale(100%) translate(0, 0); opacity: 1; }
    50% { transform: scale(80%) translate(-50px, -20px); opacity: 0.8; }
    100% { transform: scale(100%) translate(0, 0); opacity: 1; }
} */
@keyframes tree_up2 {
    /* 왔다갔다하는 반복되는 애니메이션은 0%, 100% 둘의 값이 같아야함 */
    0% { transform: translateY(-4.5%); }
    50% { transform: translateY(4.5%); }
    100% { transform: translateY(-4.5%); }
}
@keyframes tree_rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@media screen and (max-width:768px){
            .tree {
                margin: 100px 0 38px 0;
                text-align: center;
            }
            .tree .wrapper {
                display: block;
            }
            .tree .tit {
                width: auto;
            }
            .tree .tit h2 {
                margin: 0 0 3px 0;
            }
            .tree .tit h2 strong::after {
                font-size: 30px;
            }
            .tree .tit p br {
                display: none; /* 줄바꿈 삭제 */
            }
            .tree .tree_ani {
                max-width: 400px;
                width: 80%;
                margin: 50px auto 0 auto; /* 좌우 가운데 정렬 */
            }
}/* @media */






.work {
    background-color: #1D2729;
    color: #fff;
}
.work .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work .tit h2 {
    font-family: var(--tit-font-family);
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    margin-bottom: 13px;
}
.work .tit h2 strong {
    color: var(--sub-color);
}
.work .list {
    width: 578px;
}
.work .list ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    gap: 24px 24px; /* 위아래 좌우값 -> 같은 값이면 하나만 줘도 됨*/
}
.work .list ul li {
    width: calc(50% - 12px); /*  */
}
.work .list ul li a {
    display: block;
    background-color: #fff;
    color: var(--tit-color);
    height: 175px;
    border-radius: 10px;
    position: relative; /* before 정렬의 기준 */
    padding: 127px 0 0 30px;
    font-family: var(--tit-font-family);
    font-size: var(--sub-tit-size);
    line-height: var(--tit-line-height);
}
.work .list ul li a::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -19px;
    width: 49px;
    height: 24px;
    background-color: #1D2729;
    transform: rotate(-45deg);
}
.work .list ul li a span {
    display: block;
    position: relative; /* before after 정렬의 기준 */
}
.work .list ul li a span::after {
    content: "";
    position: absolute;
    right: 30px;
    top: -6px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--main-color);
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_2294' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect x='0.779541' y='0.435547' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_2294)'%3E%3Cpath d='M16.9545 13.4355H4.77954V11.4355H16.9545L11.3545 5.83555L12.7795 4.43555L20.7795 12.4355L12.7795 20.4355L11.3545 19.0355L16.9545 13.4355Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.work .list ul li a span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -84px;
    width: 82px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.work .list ul li.work01 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='83' height='74' viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2298)'%3E%3Cpath d='M21.4687 34.7412L12.4183 25.0462C12.1921 24.8205 11.8934 24.7031 11.5857 24.7031C11.278 24.7031 10.9793 24.8205 10.744 25.0552L1.7027 34.7322C1.52169 34.9128 1.41309 35.1836 1.41309 35.4815V70.3711C1.41309 71.012 1.96516 71.5627 2.61678 71.5627H20.627C21.2786 71.5627 21.8307 71.0211 21.8307 70.3711V35.4183C21.7402 35.1836 21.6497 34.9128 21.4687 34.7322V34.7412ZM3.73903 69.2608V35.9418L11.5766 27.5286L19.4143 35.9418V69.2608H3.73903Z' fill='%23236130'/%3E%3Cpath d='M14.337 33.3691H8.90682C8.219 33.3691 7.70312 33.8837 7.70312 34.5607V40.3742C7.70312 41.0151 8.2552 41.5657 8.90682 41.5657H14.337C14.9887 41.5657 15.5407 41.0241 15.5407 40.3742V34.5607C15.5407 33.9198 14.9887 33.3691 14.337 33.3691ZM10.0381 39.1826V35.671H13.1333V39.1826H10.0381Z' fill='%23236130'/%3E%3Cpath d='M14.2555 46.0068H8.83431C8.18269 46.0068 7.63062 46.5485 7.63062 47.1984V53.0118C7.63062 53.6528 8.18269 54.2034 8.83431 54.2034H14.2555C14.9071 54.2034 15.4592 53.6618 15.4592 53.0118V47.1984C15.4592 46.5575 14.9071 46.0068 14.2555 46.0068ZM10.038 51.8203V48.3087H13.1332V51.8203H10.038Z' fill='%23236130'/%3E%3Cpath d='M14.2555 58.5635H8.83431C8.18269 58.5635 7.63062 59.1051 7.63062 59.7551V65.5685C7.63062 66.2094 8.18269 66.7601 8.83431 66.7601H14.2555C14.9071 66.7601 15.4592 66.2184 15.4592 65.5685V59.7551C15.4592 59.1141 14.9071 58.5635 14.2555 58.5635ZM10.038 64.3769V60.8654H13.1332V64.3769H10.038Z' fill='%23236130'/%3E%3Cpath d='M45.3618 37.1699L36.3114 27.4749C36.0851 27.2582 35.7865 27.1318 35.4788 27.1318C35.1711 27.1318 34.8724 27.2492 34.6371 27.4749L25.5958 37.1609C25.4148 37.3415 25.3062 37.6123 25.3062 37.9102V72.7998C25.3062 73.4408 25.8582 73.9914 26.5099 73.9914H44.5201C45.1717 73.9914 45.7238 73.4498 45.7238 72.7998V37.856C45.6333 37.6213 45.5428 37.3505 45.3618 37.1699ZM27.6411 71.6985V38.3796L35.4788 29.9663L43.3164 38.3796V71.6985H27.6411Z' fill='%23236130'/%3E%3Cpath d='M38.2299 35.7979H32.7996C32.1118 35.7979 31.5959 36.3124 31.5959 36.9894V42.8029C31.5959 43.4438 32.148 43.9944 32.7996 43.9944H38.2299C38.8815 43.9944 39.4336 43.4528 39.4336 42.8029V36.9894C39.4336 36.3485 38.8815 35.7979 38.2299 35.7979ZM33.9309 41.6113V38.0998H37.0262V41.6113H33.9309Z' fill='%23236130'/%3E%3Cpath d='M38.1576 48.4355H32.7274C32.0758 48.4355 31.5237 48.9772 31.5237 49.6271V55.4406C31.5237 56.0815 32.0758 56.6321 32.7274 56.6321H38.1576C38.8092 56.6321 39.3613 56.0905 39.3613 55.4406V49.6271C39.3613 48.9862 38.8092 48.4355 38.1576 48.4355ZM33.9311 54.249V50.7375H37.0263V54.249H33.9311Z' fill='%23236130'/%3E%3Cpath d='M38.1576 61.001H32.7274C32.0758 61.001 31.5237 61.5426 31.5237 62.1926V68.006C31.5237 68.6469 32.0758 69.1976 32.7274 69.1976H38.1576C38.8092 69.1976 39.3613 68.6559 39.3613 68.006V62.1926C39.3613 61.5516 38.8092 61.001 38.1576 61.001ZM33.9311 66.8144V63.3029H37.0263V66.8144H33.9311Z' fill='%23236130'/%3E%3Cpath d='M69.7704 35.1294C69.6889 34.8767 69.5984 34.6239 69.4174 34.4434L60.3671 24.7483C60.1408 24.5226 59.8421 24.4053 59.5344 24.4053C59.2267 24.4053 58.9281 24.5226 58.6927 24.7573L49.6514 34.4434C49.4704 34.6239 49.3618 34.8947 49.3618 35.1926V70.0823C49.3618 70.7232 49.9139 71.2739 50.5655 71.2739H68.5758C69.2274 71.2739 69.7794 70.7323 69.7794 70.0823V35.1385L69.7704 35.1294ZM51.6878 68.9629V35.644L59.5254 27.2308L67.363 35.644V68.9629H51.6878Z' fill='%23236130'/%3E%3Cpath d='M62.2858 33.0625H56.8556C56.1677 33.0625 55.6519 33.577 55.6519 34.2541V40.0675C55.6519 40.7084 56.2039 41.2591 56.8556 41.2591H62.2858C62.9374 41.2591 63.4895 40.7175 63.4895 40.0675V34.2541C63.4895 33.6132 62.9374 33.0625 62.2858 33.0625ZM57.9778 38.885V35.3734H61.073V38.885H57.9778Z' fill='%23236130'/%3E%3Cpath d='M62.2045 45.7002H56.7743C56.1226 45.7002 55.5706 46.2418 55.5706 46.8918V52.7052C55.5706 53.3461 56.1226 53.8968 56.7743 53.8968H62.2045C62.8561 53.8968 63.4082 53.3552 63.4082 52.7052V46.8918C63.4082 46.2508 62.8561 45.7002 62.2045 45.7002ZM57.978 51.5227V48.0111H61.0732V51.5227H57.978Z' fill='%23236130'/%3E%3Cpath d='M62.2045 58.2656H56.7743C56.1226 58.2656 55.5706 58.8072 55.5706 59.4572V65.2706C55.5706 65.9116 56.1226 66.4622 56.7743 66.4622H62.2045C62.8561 66.4622 63.4082 65.9206 63.4082 65.2706V59.4572C63.4082 58.8163 62.8561 58.2656 62.2045 58.2656ZM57.978 64.0791V60.5675H61.0732V64.0791H57.978Z' fill='%23236130'/%3E%3Cpath d='M16.7354 22.1125C17.5318 22.1125 18.3463 22.0764 19.1971 22.0042C19.7039 21.959 20.1202 21.5889 20.2107 21.0834C20.265 20.7855 21.5049 13.6992 17.0521 8.17467C13.9478 4.32914 8.91584 2.24388 2.10092 2.00015C1.52169 1.96404 1.02392 2.39734 0.942469 2.96605C0.888167 3.33616 -0.333632 12.1285 4.94273 17.7253C7.69404 20.6411 11.6491 22.1125 16.7354 22.1125ZM3.08741 4.31108C8.66243 4.69022 12.7622 6.45953 15.2783 9.57387C17.7671 12.6521 18.1653 16.4254 18.1382 18.6912C14.7171 14.4034 9.42266 10.1335 9.1783 9.93495C8.68958 9.54679 7.97461 9.61901 7.58544 10.1065C7.19627 10.5939 7.26868 11.298 7.7574 11.6952C7.8117 11.7404 12.8799 15.8296 16.1652 19.8467C12.0111 19.7474 8.79819 18.5197 6.59895 16.1907C3.0331 12.4174 2.95165 6.64007 3.08741 4.31108Z' fill='%23236130'/%3E%3Cpath d='M60.2043 20.2532C63.8697 17.2382 65.8155 12.4087 65.9693 5.89113C65.9874 5.31339 65.5621 4.82593 64.9919 4.74469C64.6299 4.69955 56.1678 3.62533 50.8462 8.74368C47.6424 11.8219 46.3119 16.4257 46.8912 22.4197C46.9364 22.9252 47.3256 23.3405 47.8234 23.4217C47.9229 23.4398 48.8098 23.5842 50.1493 23.5842C52.6653 23.5842 56.7651 23.0787 60.2043 20.2532ZM52.4119 10.3776C55.9506 6.96535 61.417 6.81189 63.6705 6.90216C63.3628 12.183 61.7247 16.0827 58.7924 18.502C55.9415 20.849 52.43 21.3004 50.2579 21.3184C54.2944 17.9964 58.2584 12.9864 58.4394 12.7517C58.8286 12.2642 58.7381 11.5511 58.2494 11.172C57.7607 10.7838 57.0457 10.8741 56.6656 11.3615C56.6203 11.4157 52.8192 16.2181 49.0361 19.3956C49.1085 15.505 50.2308 12.4719 52.4119 10.3776Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2298'%3E%3Crect width='69' height='72' fill='white' transform='translate(0.779541 2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work02 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='82' height='75' viewBox='0 0 82 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2317)'%3E%3Cpath d='M77.5929 32.6473C78.2086 24.2674 71.6017 17.2178 63.3206 17.2178C55.0396 17.2178 48.4327 24.2749 49.0483 32.6473C44.3109 36.2022 43.0571 43.0038 46.9687 48.4376C48.8381 51.0305 51.9013 52.4885 55.0996 52.4885H59.0037V67.918H53.0275V57.0955C53.0275 56.4868 52.4944 55.9607 51.8788 55.9607H44.1157V46.1679C44.1157 45.9048 44.0256 45.5591 43.7629 45.3787L27.6136 30.4828V27.6269H39.7012C40.3168 27.6269 40.8498 27.1008 40.8498 26.492V18.7885C40.8498 18.1798 40.3243 17.6537 39.7012 17.6537H26.4649C25.8493 17.6537 25.3162 18.1798 25.3162 18.7885V30.3926L9.08442 45.3712C8.82164 45.5441 8.73155 45.8973 8.73155 46.1603V55.9532H1.14869C0.533053 55.9532 0 56.4793 0 57.088V69.0679C0 69.6766 0.533053 70.2027 1.14869 70.2027H37.9593C38.56 70.2027 42.6067 70.2178 47.5243 70.2027H51.8863C51.9388 70.2027 51.9914 70.1952 52.0439 70.1802C58.2829 70.1426 64.7021 70.0524 66.9169 69.8495C67.3298 69.8119 67.6451 69.4662 67.6451 69.0453V67.9105V52.481H71.5567C74.8751 52.481 78.0434 50.9027 79.8903 48.1445C83.6817 42.4927 82.0375 35.9316 77.6004 32.6398L77.5929 32.6473ZM50.7376 67.918H44.1232V58.2304H50.7376V67.918ZM27.6136 19.9234H38.6426V25.4323H27.6136V19.9234ZM26.4724 32.3467L41.916 46.6038V67.9255H37.9593C37.8993 67.9255 37.8392 67.933 37.7792 67.9481H33.1769V57.1031C33.1769 56.4943 32.6438 55.9682 32.0282 55.9682H19.8506C19.2349 55.9682 18.7019 56.4943 18.7019 57.1031V67.9481H11.1115V57.1031C11.1115 56.9527 11.0815 56.8099 11.0214 56.6822V46.6113L26.4649 32.3542L26.4724 32.3467ZM2.20729 58.2304H8.82164V68.0232H2.20729V58.2304ZM20.9993 58.2304H30.9696V68.0232H20.9993V58.2304ZM65.4378 67.918H61.0308V52.4885H65.4378V67.918ZM79.6651 42.2748C79.6576 42.3875 79.6351 42.5002 79.62 42.613C79.59 42.8159 79.5675 43.0188 79.5299 43.2217C79.5299 43.2368 79.5224 43.2593 79.5149 43.2744C78.6741 47.2651 75.1229 50.2864 70.896 50.2864H55.4825C51.2331 50.2864 47.7345 47.2351 46.9387 43.2217C46.8861 42.9437 46.8411 42.6581 46.811 42.38C46.811 42.3499 46.811 42.3199 46.811 42.2898C46.7885 42.0418 46.7735 41.8013 46.7735 41.5458C46.7735 41.4556 46.7735 41.3654 46.7735 41.2677C46.7735 41.0648 46.7885 40.8618 46.8035 40.6589C46.811 40.5537 46.826 40.4485 46.8411 40.3508C46.8636 40.1554 46.8936 39.9675 46.9311 39.7796C46.9462 39.6819 46.9687 39.5842 46.9912 39.4865C47.0363 39.2761 47.0963 39.0656 47.1564 38.8627C47.1789 38.7951 47.1939 38.7274 47.2164 38.6598C47.3065 38.3892 47.4041 38.1262 47.5168 37.8631C47.5468 37.803 47.5768 37.7429 47.5993 37.6827C47.6894 37.4873 47.787 37.2919 47.8921 37.104C47.9372 37.0214 47.9897 36.9312 48.0423 36.8485C48.1399 36.6907 48.2375 36.5253 48.3501 36.375C48.4102 36.2924 48.4702 36.2097 48.5303 36.127C48.6504 35.9692 48.7706 35.8189 48.8982 35.6686C48.9582 35.6009 49.0108 35.5333 49.0709 35.4656C49.2586 35.2552 49.4613 35.0523 49.6715 34.8569C50.1145 35.7362 50.8202 36.9763 51.8713 38.2088C54.4239 41.2076 57.9526 42.7934 62.1795 42.5303C62.7951 42.5303 63.2381 42.0042 63.2381 41.3879C63.2381 40.7717 62.7125 40.3282 62.0894 40.3282C58.6508 40.5011 55.8354 39.3587 53.6356 36.8034C52.1416 35.1274 51.4358 33.2786 51.2556 32.8352C50.3772 25.6954 56.0982 19.4349 63.2381 19.4349C70.378 19.4349 76.0989 25.7856 75.2205 33.0156C75.1304 33.459 75.3932 33.8122 75.746 34.0753C76.0238 34.2632 76.2941 34.4736 76.5418 34.6915C76.6169 34.7592 76.692 34.8268 76.7671 34.8945C76.9398 35.0523 77.1124 35.2176 77.2701 35.3905C77.3452 35.4732 77.4203 35.5483 77.4953 35.6385C77.6605 35.8264 77.8107 36.0218 77.9608 36.2172C78.0134 36.2848 78.0659 36.3525 78.111 36.4201C78.2987 36.6907 78.4713 36.9688 78.629 37.2544C78.659 37.3145 78.6891 37.3821 78.7191 37.4422C78.8392 37.6752 78.9443 37.9082 79.0494 38.1487C79.087 38.2464 79.1245 38.3516 79.1621 38.4493C79.2446 38.6673 79.3122 38.8852 79.3723 39.1107C79.4023 39.2159 79.4323 39.3136 79.4549 39.4189C79.5224 39.6969 79.575 39.9825 79.6125 40.2681C79.6125 40.3132 79.6275 40.3583 79.635 40.4034C79.6726 40.7341 79.6951 41.0723 79.6951 41.4105C79.6951 41.5458 79.6951 41.6735 79.6876 41.8088C79.6876 41.9742 79.6801 42.1395 79.6651 42.2973V42.2748Z' fill='%23236130'/%3E%3Cpath d='M58.6808 24.5527C56.8338 24.5527 55.3323 26.0483 55.3323 27.9047C55.3323 29.761 56.8263 31.2566 58.6808 31.2566C60.5352 31.2566 62.0292 29.761 62.0292 27.9047C62.0292 26.0483 60.5352 24.5527 58.6808 24.5527ZM58.6808 28.9644C58.0651 28.9644 57.5321 28.4383 57.5321 27.8145C57.5321 27.1907 58.0576 26.6646 58.6808 26.6646C59.3039 26.6646 59.8294 27.1907 59.8294 27.8145C59.8294 28.4383 59.3039 28.9644 58.6808 28.9644Z' fill='%23236130'/%3E%3Cpath d='M67.6375 35.9988C69.4844 35.9988 70.986 34.5032 70.986 32.6469C70.986 30.7905 69.492 29.2949 67.6375 29.2949C65.7831 29.2949 64.2891 30.7905 64.2891 32.6469C64.2891 34.5032 65.7831 35.9988 67.6375 35.9988ZM67.6375 31.5872C68.2532 31.5872 68.7862 32.1133 68.7862 32.7371C68.7862 33.3609 68.2607 33.887 67.6375 33.887C67.0144 33.887 66.4888 33.3609 66.4888 32.7371C66.4888 32.1133 67.0144 31.5872 67.6375 31.5872Z' fill='%23236130'/%3E%3Cpath d='M67.9906 41.4258C66.1436 41.4258 64.6421 42.9214 64.6421 44.7777C64.6421 46.6341 66.1361 48.1297 67.9906 48.1297C69.845 48.1297 71.339 46.6341 71.339 44.7777C71.339 42.9214 69.845 41.4258 67.9906 41.4258ZM67.9906 46.0103C67.3749 46.0103 66.8419 45.4842 66.8419 44.8604C66.8419 44.2366 67.3674 43.7105 67.9906 43.7105C68.6137 43.7105 69.1393 44.2366 69.1393 44.8604C69.1393 45.4842 68.6137 46.0103 67.9906 46.0103Z' fill='%23236130'/%3E%3Cpath d='M26.998 52.7214C30.354 52.7214 33.0868 50.0083 33.0868 46.6864C33.0868 43.3645 30.354 40.6514 26.998 40.6514C23.642 40.6514 20.9092 43.3645 20.9092 46.6864C20.9092 50.0083 23.642 52.7214 26.998 52.7214ZM26.998 42.9286C29.1152 42.9286 30.8795 44.6797 30.8795 46.7766C30.8795 48.8734 29.1152 50.6246 26.998 50.6246C24.8808 50.6246 23.1165 48.8734 23.1165 46.7766C23.1165 44.6797 24.8808 42.9286 26.998 42.9286Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2317'%3E%3Crect width='82' height='53' fill='white' transform='translate(0 17.2178)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work03 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='83' height='74' viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2350)'%3E%3Cpath d='M37.579 73.0002C36.8802 73.0002 36.2947 72.4112 36.2947 71.7177V68.7631C36.2947 63.614 39.7416 59.0538 44.69 57.6003C43.8023 56.8213 43.1129 55.8902 42.6407 54.8262C42.1402 53.7622 41.8853 52.6127 41.8853 51.4156C41.8853 49.5346 42.4802 47.7865 43.604 46.3615C45.2094 44.3189 47.6081 43.1504 50.1861 43.1504C52.7642 43.1504 55.3329 44.4329 56.8344 46.4945C57.911 47.948 58.4776 49.6486 58.4776 51.4156C58.4776 52.6127 58.2226 53.7622 57.7127 54.8357C57.2594 55.8902 56.5889 56.8213 55.7201 57.6003C60.6402 59.0538 64.0587 63.614 64.0587 68.7536V71.7082C64.1059 71.9742 63.9926 72.3067 63.7754 72.5632C63.5393 72.8387 63.1899 73.0002 62.8311 73.0002H37.579ZM61.6129 70.4921V68.7631C61.6129 63.7565 57.4955 59.6903 52.4432 59.6903H47.9858C42.9241 59.6903 38.8161 63.785 38.8161 68.8201L38.8633 70.4921H61.6223H61.6129ZM50.2334 45.6585C48.4108 45.6585 46.7392 46.4755 45.6438 47.891C44.8505 48.898 44.4445 50.0856 44.4445 51.4251C44.4445 52.2611 44.6144 53.0687 44.9355 53.8287C45.7005 55.5387 47.2775 56.7738 49.1379 57.1253H51.3383C53.1892 56.7643 54.7568 55.5292 55.5218 53.8192C55.8523 53.0402 56.0128 52.2801 56.0128 51.4251C56.0128 50.1521 55.6162 48.9646 54.8702 48.0145C53.803 46.523 52.1032 45.668 50.2239 45.668L50.2334 45.6585Z' fill='%23236130'/%3E%3Cpath d='M63.9643 71.7177V68.7631C63.9643 63.4714 60.3852 59.0063 55.5218 57.6478C56.4189 56.8783 57.1461 55.9187 57.6183 54.7977C58.1188 53.7432 58.3738 52.6031 58.3738 51.4251C58.3738 49.6771 57.8071 47.9955 56.7495 46.561C55.2574 44.5184 52.736 43.2549 50.1768 43.2549C47.6175 43.2549 45.2567 44.4139 43.6701 46.4375C42.5652 47.853 41.9797 49.5726 41.9797 51.4346C41.9797 52.6126 42.2347 53.7527 42.7258 54.8072C43.2263 55.9282 43.9818 56.8973 44.8884 57.6573C39.9966 59.0063 36.3892 63.4714 36.3892 68.7726V71.7272C36.3892 72.3732 36.9369 72.9147 37.579 72.9147H62.8311C63.1711 72.9147 63.4827 72.7722 63.7094 72.5157C63.9171 72.2782 64.0021 71.9647 63.9643 71.7272V71.7177ZM52.4338 59.5953C57.5427 59.5953 61.6979 63.7089 61.6979 68.7631V70.5871H38.7595L38.7123 68.8201C38.7123 63.7279 42.8674 59.5953 47.9764 59.5953H52.4338ZM44.86 53.8572C44.5295 53.0877 44.3595 52.2611 44.3595 51.4156C44.3595 50.0571 44.7656 48.8505 45.5777 47.8245C46.6921 46.39 48.3919 45.5634 50.2429 45.5634C52.0938 45.5634 53.8692 46.428 54.9646 47.948C55.7201 48.917 56.1262 50.1141 56.1262 51.4156C56.1262 52.2801 55.9657 53.0592 55.6257 53.8477C54.8324 55.6147 53.2176 56.8498 51.3478 57.2108H49.1285C47.2681 56.8498 45.6533 55.6147 44.86 53.8572Z' fill='%23236130'/%3E%3Cpath d='M7.78457 73.0002C7.08574 73.0002 6.50024 72.4112 6.50024 71.7177V68.7631C6.50024 63.614 9.94714 59.0538 14.8956 57.6003C14.0079 56.8213 13.3185 55.8902 12.8463 54.8262C12.3458 53.7622 12.0908 52.6127 12.0908 51.4156C12.0908 49.5346 12.6858 47.7865 13.8096 46.3615C15.415 44.3189 17.8136 43.1504 20.3917 43.1504C22.9698 43.1504 25.5385 44.4329 27.04 46.4945C28.1165 47.948 28.6832 49.6486 28.6832 51.4156C28.6832 52.6127 28.4282 53.7622 27.9182 54.8357C27.4649 55.8902 26.7944 56.8213 25.9256 57.6003C30.8457 59.0538 34.2643 63.614 34.2643 68.7536V71.7082C34.3115 71.9742 34.1982 72.3067 33.981 72.5632C33.7449 72.8387 33.3955 73.0002 33.0366 73.0002H7.78457ZM31.809 70.4921V68.7631C31.809 63.7565 27.6916 59.6903 22.6393 59.6903H18.1819C13.1202 59.6903 9.01223 63.785 9.01223 68.8201L9.05945 70.4921H31.8184H31.809ZM20.4389 45.6585C18.6163 45.6585 16.9448 46.4755 15.8494 47.891C15.0561 48.898 14.65 50.0856 14.65 51.4251C14.65 52.2611 14.82 53.0687 15.1411 53.8287C15.906 55.5387 17.4831 56.7738 19.3435 57.1253H21.5438C23.3948 56.7643 24.9624 55.5292 25.7273 53.8192C26.0578 53.0402 26.2184 52.2801 26.2184 51.4251C26.2184 50.1521 25.8218 48.9646 25.0757 48.0145C24.0086 46.523 22.3088 45.668 20.4295 45.668L20.4389 45.6585Z' fill='%23236130'/%3E%3Cpath d='M34.1604 71.7177V68.7631C34.1604 63.4714 30.5813 59.0063 25.7178 57.6478C26.615 56.8783 27.3421 55.9187 27.8143 54.7977C28.3148 53.7432 28.5698 52.6031 28.5698 51.4251C28.5698 49.6771 28.0032 47.9955 26.9455 46.561C25.4534 44.5184 22.932 43.2549 20.3728 43.2549C17.8136 43.2549 15.4527 44.4139 13.8662 46.4375C12.7613 47.853 12.1758 49.5726 12.1758 51.4346C12.1758 52.6126 12.4308 53.7527 12.9218 54.8072C13.4223 55.9282 14.1778 56.8973 15.0844 57.6573C10.1926 59.0063 6.58521 63.4714 6.58521 68.7726V71.7272C6.58521 72.3732 7.13293 72.9147 7.77509 72.9147H33.0272C33.3671 72.9147 33.6788 72.7722 33.9054 72.5157C34.1132 72.2782 34.1982 71.9647 34.1604 71.7272V71.7177ZM22.6392 59.5953C27.7482 59.5953 31.9034 63.7089 31.9034 68.7631V70.5871H8.96498L8.91776 68.8201C8.91776 63.7279 13.0729 59.5953 18.1819 59.5953H22.6392ZM15.0561 53.8572C14.7255 53.0877 14.5556 52.2611 14.5556 51.4156C14.5556 50.0571 14.9616 48.8505 15.7738 47.8245C16.8881 46.39 18.588 45.5634 20.4389 45.5634C22.2898 45.5634 24.0652 46.428 25.1607 47.948C25.9162 48.917 26.3222 50.1141 26.3222 51.4156C26.3222 52.2801 26.1617 53.0592 25.8217 53.8477C25.0285 55.6147 23.4136 56.8498 21.5438 57.2108H19.3246C17.4642 56.8498 15.8493 55.6147 15.0561 53.8572Z' fill='%23236130'/%3E%3Cpath d='M59.3462 39.303C59.3462 39.303 59.4406 39.303 59.4879 39.303C61.7071 39.303 63.7847 38.4385 65.3617 36.8519C66.9671 35.2369 67.8265 33.0803 67.7887 30.7908C67.7037 26.3446 64.0396 22.6775 59.6201 22.611C59.0251 22.6015 58.4396 22.6585 57.8636 22.763C57.958 22.2025 58.0052 21.642 57.9958 21.0625C57.9108 16.2649 54.1145 12.4172 49.3455 12.2842C48.2595 12.2557 47.1923 12.4267 46.1913 12.7688C46.2385 12.3412 46.2669 11.9042 46.2669 11.4672C46.2385 5.23505 41.1862 0.0859083 34.9818 0.000405953C31.8843 -0.0470954 28.9946 1.13094 26.8037 3.3065C24.6128 5.48206 23.404 8.38914 23.404 11.4862C23.404 11.8567 23.4229 12.2272 23.4607 12.5978C22.7052 12.3887 21.9592 12.2557 21.1187 12.2842C16.3402 12.2842 12.3645 16.2079 12.2417 21.0055C12.2229 21.5755 12.2701 22.1455 12.3645 22.706C11.8451 22.6205 11.3068 22.592 10.7685 22.611C6.39618 22.7725 2.88318 26.3446 2.7793 30.7527C2.72264 33.0233 3.56312 35.1609 5.14019 36.7854C6.71726 38.41 8.82318 39.303 11.0802 39.303H33.8864V58.4745C33.8864 59.2535 34.5096 59.8805 35.284 59.8805C36.0584 59.8805 36.6817 59.2535 36.6817 58.4745V39.303H59.3556H59.3462ZM11.0802 36.5004C9.5881 36.5004 8.18101 35.9114 7.14222 34.8284C6.09399 33.7548 5.53682 32.3298 5.57459 30.8193C5.6407 27.8932 7.97326 25.5181 10.8819 25.4136C11.9395 25.3661 13.0161 25.6511 13.9321 26.2021C14.4704 26.5346 15.1787 26.4586 15.632 26.0026C16.0853 25.5561 16.1797 24.8531 15.8586 24.3021C15.292 23.3235 15.0087 22.2025 15.037 21.072C15.122 17.7754 17.8512 15.0963 21.1281 15.0868H21.1376C22.403 15.0868 23.6212 15.4763 24.6506 16.2079C25.1511 16.5594 25.8216 16.5499 26.3126 16.1699C26.7943 15.7898 26.9831 15.1438 26.7659 14.5643C26.3976 13.5763 26.2088 12.5408 26.2088 11.4862C26.2088 9.14916 27.1248 6.9451 28.7774 5.30155C30.4017 3.68651 32.5548 2.80298 34.8402 2.80298H34.9629C39.6564 2.86948 43.4716 6.75509 43.481 11.4767C43.481 12.7783 43.2072 14.0323 42.65 15.2008C42.3572 15.8088 42.5461 16.5499 43.0938 16.9394C43.6416 17.3384 44.3876 17.2814 44.8787 16.8064C46.0686 15.6568 47.6079 15.0583 49.2794 15.0868C52.4902 15.1723 55.1533 17.8704 55.2194 21.11C55.2383 22.364 54.8983 23.5706 54.2089 24.6061C53.8312 25.1761 53.9256 25.9266 54.4167 26.4016C54.9077 26.8671 55.6632 26.9146 56.2109 26.5061C57.1931 25.7651 58.3263 25.4136 59.5917 25.4041C62.5287 25.4516 64.9557 27.8837 65.0123 30.8383C65.0407 32.3583 64.474 33.7833 63.4069 34.8664C62.3681 35.9209 60.9799 36.4909 59.5067 36.4909C59.469 36.4909 59.4217 36.4909 59.384 36.4909H36.7006V28.4727C37.4655 27.8932 39.4014 26.1926 45.077 20.8915C45.6436 20.369 45.6719 19.4759 45.1525 18.9059C44.6237 18.3359 43.7454 18.3074 43.1788 18.8299C41.1485 20.73 38.4476 23.219 36.7006 24.7961V20.1505C36.7006 19.3714 36.0773 18.7444 35.3029 18.7444C34.5285 18.7444 33.9053 19.3714 33.9053 20.1505V32.1398L23.7157 23.9411C23.1113 23.4566 22.233 23.5516 21.7608 24.1596C21.2792 24.7676 21.3737 25.6511 21.9781 26.1261L33.9147 35.7309V36.4909H11.0802V36.5004Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2350'%3E%3Crect width='65' height='73' fill='white' transform='translate(2.77954)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work04 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='82' height='74' viewBox='0 0 82 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2328)'%3E%3Cpath d='M64.8799 70.8715V20.7162C64.8799 20.502 64.8799 20.3996 64.7691 20.1855C61.9994 13.4726 55.3796 9.21777 48.2429 9.21777C42.0294 9.21777 36.3052 12.523 33.0184 17.7275C29.787 12.4578 23.9705 9.21777 17.7386 9.21777C10.6018 9.21777 4.09286 13.5844 1.2123 20.1855C1.10151 20.3996 1.10151 20.502 1.10151 20.7162V70.7784C1.03689 70.9367 0.990723 71.1136 0.990723 71.2905V71.8212C0.990723 72.566 1.62777 73.2085 2.3756 73.2085H63.6982C64.3075 73.2085 64.9169 72.6219 64.8707 71.9236C65.0276 71.5978 65.0369 71.2067 64.8707 70.8715H64.8799ZM48.3537 11.983C54.4287 11.983 59.8667 15.493 62.3225 21.0327V66.5515C58.9803 62.3897 53.8932 59.9038 48.3537 59.9038C42.8141 59.9038 37.7178 62.3897 34.3848 66.5515V21.0327C36.8407 15.493 42.2787 11.983 48.3537 11.983ZM17.7386 63.3115C23.2135 63.3115 28.2544 66.086 30.9873 70.4433H4.46216C7.1396 66.0767 12.2637 63.3115 17.7386 63.3115ZM61.787 70.555H34.8834C37.5054 65.6484 42.7403 62.5666 48.3444 62.5666C53.9486 62.5666 59.0911 65.6484 61.787 70.555ZM17.7386 11.8806C23.6566 11.8806 29.0577 15.3161 31.6058 20.6976C31.6058 20.6976 31.6058 20.7069 31.6058 20.7162V66.5701C28.2452 62.399 23.1027 59.9038 17.637 59.9038C12.1713 59.9038 7.14883 62.3711 3.76972 66.4956V20.9303C6.22558 15.3906 11.6635 11.8806 17.7386 11.8806Z' fill='%23236130'/%3E%3Cpath d='M7.18588 24.9808C7.82293 25.195 8.57076 24.8691 8.8939 24.236C10.1772 21.1449 13.4825 19.3387 17.6371 19.3387C21.7918 19.3387 24.9955 21.1449 26.3803 24.236C26.7035 24.7667 27.1282 25.0832 27.6637 25.0832C27.876 25.0832 27.9868 25.0832 28.0884 24.9808C28.8362 24.7667 29.1501 23.9194 28.8362 23.277C27.1282 19.1246 22.9735 16.7783 17.6371 16.7783C12.3007 16.7783 8.24762 19.1246 6.43805 23.277C6.2257 23.9194 6.54884 24.6643 7.18588 24.9808Z' fill='%23236130'/%3E%3Cpath d='M7.18588 35.8363C7.82293 36.0504 8.57076 35.7246 8.8939 35.0915C10.1772 32.0004 13.4825 30.1942 17.6371 30.1942C21.7918 30.1942 24.9955 32.0004 26.3803 35.0915C26.7035 35.6222 27.1282 35.9387 27.6637 35.9387C27.876 35.9387 27.9868 35.9387 28.0884 35.8363C28.8362 35.6222 29.1501 34.7749 28.8362 34.1325C27.1282 29.98 22.9735 27.6338 17.6371 27.6338C12.3007 27.6338 8.24762 29.98 6.43805 34.1325C6.2257 34.7749 6.54884 35.5197 7.18588 35.8363Z' fill='%23236130'/%3E%3Cpath d='M7.18588 46.7015C7.82293 46.9157 8.57076 46.5991 8.8939 45.9567C10.1772 42.8656 13.4825 41.0594 17.6371 41.0594C21.7918 41.0594 24.9955 42.8656 26.3803 45.9567C26.7035 46.4874 27.1282 46.8039 27.6637 46.8039C27.876 46.8039 27.9868 46.8039 28.0884 46.5898C28.8362 46.3757 29.1501 45.5284 28.8362 44.886C27.1282 40.7335 22.9735 38.499 17.6371 38.499C12.3007 38.499 8.24762 40.8453 6.43805 44.9977C6.2257 45.6401 6.54884 46.385 7.18588 46.7015Z' fill='%23236130'/%3E%3Cpath d='M7.18588 57.558C7.82293 57.7721 8.57076 57.4556 8.8939 56.8131C10.1772 53.7221 13.4825 51.9158 17.6371 51.9158C21.7918 51.9158 24.9955 53.7221 26.3803 56.8131C26.7035 57.3438 27.1282 57.6697 27.6637 57.6697C27.876 57.6697 27.9868 57.558 28.0884 57.558C28.8362 57.3438 29.1501 56.4966 28.8362 55.8542C27.1282 51.7017 22.9735 49.3555 17.6371 49.3555C12.3007 49.3555 8.24762 51.7017 6.43805 55.8542C6.2257 56.4966 6.54884 57.2414 7.18588 57.558Z' fill='%23236130'/%3E%3Cpath d='M37.9024 24.9808C38.5395 25.195 39.2873 24.8691 39.6104 24.236C40.8938 21.1449 44.199 19.3387 48.3537 19.3387C52.5083 19.3387 55.712 21.1449 57.0969 24.236C57.42 24.7667 57.8447 25.0832 58.3802 25.0832C58.491 25.0832 58.7033 25.0832 58.8049 24.9808C59.5527 24.7667 59.8666 23.9194 59.5527 23.277C57.8447 19.1246 53.6901 16.7783 48.3537 16.7783C43.0172 16.7783 38.9734 19.1246 37.1546 23.277C36.9422 23.9194 37.2561 24.6643 37.9024 24.9808Z' fill='%23236130'/%3E%3Cpath d='M37.9024 35.8363C38.5395 36.0504 39.2873 35.7246 39.6104 35.0915C40.8938 32.0004 44.199 30.1942 48.3537 30.1942C52.5083 30.1942 55.712 32.0004 57.0969 35.0915C57.42 35.6222 57.8447 35.9387 58.3802 35.9387C58.491 35.9387 58.7033 35.9387 58.8049 35.8363C59.5527 35.6222 59.8666 34.7749 59.5527 34.1325C57.8447 29.98 53.6901 27.6338 48.3537 27.6338C43.0172 27.6338 38.9734 29.98 37.1546 34.1325C36.9422 34.7749 37.2561 35.5197 37.9024 35.8363Z' fill='%23236130'/%3E%3Cpath d='M37.9024 46.702C38.5395 46.9162 39.2873 46.5996 39.6104 45.9572C40.8938 42.8661 44.199 41.0599 48.3537 41.0599C52.5083 41.0599 55.712 42.8661 57.0969 45.9572C57.42 46.4879 57.8447 46.8045 58.3802 46.8045C58.491 46.8045 58.7033 46.8045 58.8049 46.6927C59.5527 46.4786 59.8666 45.6313 59.5527 44.9889C57.8447 40.8365 53.6901 38.4902 48.3537 38.4902C43.0172 38.4902 38.9734 40.8365 37.1546 44.9889C36.9422 45.6313 37.2561 46.3762 37.9024 46.6927V46.702Z' fill='%23236130'/%3E%3Cpath d='M37.9024 57.5578C38.5395 57.772 39.2873 57.4554 39.6104 56.813C40.8938 53.7219 44.199 51.9157 48.3537 51.9157C52.5083 51.9157 55.712 53.7219 57.0969 56.813C57.42 57.3437 57.8447 57.6696 58.3802 57.6696C58.491 57.6696 58.7033 57.5578 58.8049 57.4554C59.5527 57.2413 59.8666 56.394 59.5527 55.7516C57.8447 51.5992 53.6901 49.2529 48.3537 49.2529C43.0172 49.2529 38.8626 51.5992 37.1546 55.854C36.9422 56.4965 37.2561 57.2413 37.9024 57.5578Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2328'%3E%3Crect width='64' height='64' fill='white' transform='translate(1 9.21777)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work05 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='82' height='74' viewBox='0 0 82 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2361)'%3E%3Cpath d='M69.1395 54.73V12.15C69.1395 8.29 65.9595 5 61.9895 5C58.0195 5 54.9495 8.18 54.9495 12.15V54.73C54.9495 58.14 57.4495 60.98 60.6295 61.66V70.29H36.5595V61.66C39.7395 60.98 42.2395 58.14 42.2395 54.73V12.15C42.2395 8.29 39.0595 5 35.0895 5C31.1195 5 27.9395 8.18 27.9395 12.15V54.73C27.9395 58.14 30.4395 60.98 33.6195 61.66V70.29H9.51954V61.66C12.6995 60.98 15.1995 58.14 15.1995 54.73V12.15C15.1995 8.29 12.0195 5 8.04954 5C4.07954 5 0.889541 8.18 0.889541 12.15V54.73C0.889541 58.14 3.38954 60.98 6.56954 61.66V70.29H2.25954C1.45954 70.29 0.779541 70.97 0.779541 71.77C0.779541 72.57 1.45954 73.25 2.25954 73.25H67.5495C68.3495 73.25 69.0295 72.57 69.0295 71.77C69.0295 70.97 68.3495 70.29 67.5495 70.29H63.2395V61.66C66.6495 60.98 69.1395 58.14 69.1395 54.73ZM30.8695 54.73V12.15C30.8695 9.77 32.7995 7.84 35.1795 7.84C37.5595 7.84 39.4895 9.77 39.4895 12.15V54.73C39.4895 56.55 38.3595 58.14 36.6495 58.7V50.41C36.6495 49.62 35.9695 48.93 35.1695 48.93C34.3695 48.93 33.6895 49.61 33.6895 50.41V58.7C31.9895 58.13 30.8495 56.54 30.8495 54.73H30.8695ZM3.84954 54.73V12.15C3.84954 9.77 5.77954 7.84 8.15954 7.84C10.5395 7.84 12.4695 9.77 12.4695 12.15V54.73C12.4695 56.55 11.3295 58.14 9.62954 58.7V50.41C9.62954 49.62 8.94954 48.93 8.14954 48.93C7.34954 48.93 6.66954 49.61 6.66954 50.41V58.7C4.96954 58.13 3.82954 56.54 3.82954 54.73H3.84954ZM57.7795 54.73V12.15C57.7795 9.77 59.7095 7.84 62.0995 7.84C64.4895 7.84 66.4095 9.77 66.4095 12.15V54.73C66.4095 56.55 65.2695 58.14 63.5695 58.7V50.41C63.5695 49.62 62.8895 48.93 62.0895 48.93C61.2895 48.93 60.6095 49.61 60.6095 50.41V58.7C58.9095 58.13 57.7695 56.54 57.7695 54.73H57.7795Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2361'%3E%3Crect width='68.36' height='68.24' fill='white' transform='translate(0.779541 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work06 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='82' height='74' viewBox='0 0 82 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_59_2341)'%3E%3Cpath d='M28.6971 28.9202C27.5956 28.7367 26.4845 28.6541 25.3735 28.6265C25.5919 27.571 26.4371 25.1205 29.6088 23.4501C29.7512 23.6428 29.9126 23.8356 30.0931 24.0008C31.5745 25.3683 34.6892 27.6261 38.953 27.6261C41.403 27.6261 44.2423 26.8735 47.3665 24.7809C48.3161 24.1476 48.9144 23.138 48.9999 22.0275C49.0853 20.9169 48.658 19.8523 47.8223 19.0905C42.1911 13.9783 35.7718 13.7947 30.207 18.5857C29.4283 19.2557 28.963 20.2194 28.9345 21.229C27.3392 22.0091 26.1617 22.9636 25.307 23.9365V19.2557C26.0002 19.0538 26.6365 18.6775 27.1208 18.1359C29.2194 15.768 33.4072 9.3892 27.0163 1.42259C26.2946 0.541495 25.2216 0.0275207 24.063 -1.36934e-05C22.914 -0.0367262 21.8314 0.449714 21.0907 1.2941C16.1053 6.99371 16.2572 13.2073 21.4991 18.3287C21.8979 18.7233 22.3917 19.0079 22.914 19.1914V24.1201C22.8095 24.0008 22.7051 23.8906 22.5911 23.7713C21.8314 23.0279 20.9293 22.4038 19.9227 21.8714C19.9037 21.1188 19.6473 20.3754 19.1725 19.7605C14.7283 13.9783 8.39443 12.8952 1.81362 16.8051C0.835517 17.3833 0.189781 18.347 0.0378428 19.4484C-0.114095 20.559 0.256254 21.6603 1.05393 22.468C4.558 26.0383 8.06207 27.1305 11.0439 27.1305C14.0256 27.1305 16.732 25.919 18.128 25.0746C18.5553 24.8176 18.9161 24.478 19.201 24.0925C19.8183 24.4505 20.3785 24.8635 20.8533 25.3224C22.0783 26.5156 22.5721 27.8005 22.7716 28.6724C10.7875 29.6361 1.34831 39.3741 1.34831 51.2047C1.34831 56.5739 3.34249 61.7871 6.96052 65.8897C11.4142 70.8918 17.8811 73.7645 24.6993 73.7645C29.9411 73.7645 34.9076 72.1124 39.0669 68.9827C44.8121 64.6782 48.1072 58.1984 48.1072 51.2047C48.1072 40.1359 39.9501 30.7559 28.6971 28.9111V28.9202ZM38.6586 17.3925C41.6594 17.3925 44.2423 18.9895 46.189 20.7609C46.5024 21.0454 46.6638 21.4401 46.6258 21.8623C46.5973 22.2845 46.3694 22.6608 46.0086 22.9086C39.6272 27.1947 34.8696 25.1205 31.9353 22.5323C33.5497 22.055 35.5344 21.7521 38.0223 21.7521C38.6776 21.7521 39.2094 21.2381 39.2094 20.6049C39.2094 19.9716 38.6776 19.4576 38.0223 19.4576C35.6578 19.4576 33.6636 19.7146 31.9733 20.146C34.3378 18.1727 36.5884 17.4109 38.6491 17.4109L38.6586 17.3925ZM16.8745 23.138C13.4654 25.1847 8.25199 26.4605 2.77273 20.8894C2.46885 20.5865 2.32641 20.1643 2.38339 19.7513C2.44036 19.3383 2.67777 18.9803 3.04811 18.7601C4.88087 17.6679 7.10296 16.7684 9.42951 16.7684C11.9175 16.7684 14.5289 17.8147 16.922 20.7334C15.1367 20.2561 13.1045 20.0083 10.8064 20.0083C10.1512 20.0083 9.61943 20.5223 9.61943 21.1555C9.61943 21.7888 10.1512 22.3028 10.8064 22.3028C13.1615 22.3028 15.1937 22.5782 16.903 23.1105C16.8935 23.1105 16.884 23.1288 16.865 23.138H16.8745ZM16.751 36.7859C16.2952 37.4375 15.0607 39.2181 14.5384 39.7779C14.0256 39.9799 13.171 40.5948 10.5311 42.6507C10.2367 42.7884 10.1037 43.0545 10.0183 43.3207L9.02118 46.1292L8.98319 46.2118V46.276C8.9547 46.3586 8.92621 46.4504 8.92621 46.5514V49.3599C8.92621 49.7178 9.06866 50.0391 9.35354 50.3052L11.3762 52.2602C11.6231 52.4529 11.9365 52.5631 12.2499 52.5631C12.6107 52.5631 12.9621 52.4162 13.228 52.1592L13.4749 51.9206L15.6685 53.0128V53.8572L14.7568 57.3357C14.6429 57.7854 14.7758 58.2994 15.0987 58.6023L17.8051 61.218L17.9475 61.4842L16.7795 61.8421H13.171C13.0665 61.8421 12.8481 61.8421 12.6677 61.9614L8.41342 63.4667C5.57408 59.9239 4.01672 55.5551 4.01672 51.1404C4.09269 42.8526 9.46749 35.4459 17.4727 32.4997L16.7605 36.7767L16.751 36.7859ZM13.4654 64.568H17.0644C17.1689 64.568 17.3873 64.568 17.5677 64.4487L20.407 63.5125C20.8249 63.3841 21.1287 62.9986 21.2332 62.8334L21.2617 62.7875L21.2807 62.7324C21.3851 62.4295 21.3851 62.044 21.2522 61.6861L20.2551 59.8321L20.2266 59.7679L20.1791 59.722C20.1506 59.6761 20.1126 59.5843 20.0272 59.5109L17.7386 57.299C18.1185 55.7479 18.3179 55.0044 18.4223 54.6281C18.5363 54.2151 18.5458 54.1784 18.5458 54.0224V52.1684C18.5458 51.6728 18.2514 51.2231 17.7766 51.0028L13.9212 49.1396C13.7407 49.0662 13.5413 49.0295 13.3419 49.0295C12.9716 49.0295 12.6202 49.158 12.4018 49.3691L12.3733 49.3966L11.7276 48.8184V46.8359C11.889 46.377 12.3733 45.0186 12.5063 44.6332C13.6933 43.6419 15.0227 42.6874 15.4785 42.4304C15.5735 42.4304 15.697 42.3937 15.8204 42.3019C16.2667 42.1 16.7225 41.5952 17.6816 40.2827C18.2134 39.6219 18.7547 38.8142 19.163 38.1809L19.2295 38.0616C19.296 37.9607 19.3814 37.8138 19.372 37.667L20.3975 31.793C21.8125 31.4901 23.2559 31.3433 24.6993 31.3433C25.345 31.3433 25.9813 31.3708 26.608 31.435L25.3165 35.1889C25.2121 35.4918 25.2121 35.7946 25.3165 36.0333C25.3925 36.2444 25.6869 36.8318 26.9214 39.2089L25.497 41.2832C25.4115 41.4484 25.307 41.6595 25.307 41.9715V44.4771C25.0411 45.1104 24.9272 45.808 25.0032 46.3862C25.0981 47.0195 25.459 47.5059 25.9813 47.7445C26.3896 48.0841 27.833 50.3052 29.2479 52.8017C29.4663 53.2239 29.9316 53.49 30.4349 53.49C30.6628 53.49 30.8718 53.435 31.0237 53.3432L31.2896 53.2147L31.8783 56.7483C31.8024 57.0879 31.6694 57.8038 31.527 58.5472C31.3466 59.4925 31.1377 60.5664 31.0712 60.8509C30.9857 61.1079 30.8718 61.4199 30.9952 61.7687C31.0617 61.9614 31.1946 62.1358 31.2991 62.2735C31.3371 62.3286 31.3751 62.3745 31.4035 62.4112L31.432 62.4571L31.47 62.4938C31.9258 62.9894 33.2458 64.2468 34.2144 65.1646C34.5847 65.5134 34.8981 65.8071 35.0311 65.9264C35.297 66.3302 35.4679 66.6056 35.5818 66.78C35.7243 67.0094 35.7813 67.1012 35.8192 67.1287C35.9332 67.2664 36.0376 67.4316 36.1516 67.5968C36.1896 67.6519 36.2276 67.7069 36.2656 67.762C32.8849 70.0015 28.9156 71.1854 24.7752 71.1854C19.4669 71.1854 14.301 69.1754 10.4931 65.6419L13.4939 64.5497L13.4654 64.568ZM34.7082 56.8401V56.4729L33.7111 50.9385C33.6256 50.2961 33.0559 49.8188 32.3721 49.8188C32.1537 49.8188 31.9353 49.8647 31.7359 49.9656L31.0142 50.3144C30.8338 50.0024 30.6344 49.6903 30.4349 49.3691C30.169 48.9469 29.9032 48.5339 29.6752 48.1117C28.6782 46.533 28.1559 45.9181 27.7855 45.6244C27.814 45.551 27.8425 45.4684 27.871 45.4041C27.8995 45.3307 27.928 45.2573 27.928 45.2389C28.0514 45.0095 28.0514 44.8626 28.0514 44.6882V42.2927L29.7702 39.833C30.0076 39.3649 30.0361 38.8877 29.8462 38.5114L28.1654 35.3357L29.4473 31.692C38.8485 33.8764 45.3723 41.843 45.3723 51.1955C45.3723 56.9135 42.8749 62.301 38.5066 66.0641C38.1458 65.5501 37.709 64.8984 37.4146 64.3936L37.3861 64.3386L37.3481 64.3019C37.3196 64.256 37.2816 64.1734 37.1962 64.0908C36.8448 63.7512 36.427 63.3473 35.9902 62.9435C35.202 62.2001 34.3853 61.4291 33.9105 60.9243C34.1574 59.8597 34.5658 57.7854 34.7177 56.8217L34.7082 56.8401ZM22.9045 2.78096C23.1799 2.4689 23.5977 2.30369 24.0156 2.29452C24.4524 2.29452 24.8607 2.49643 25.1266 2.83602C29.9981 8.90276 27.909 13.6937 25.2975 16.6491V8.40714C25.2975 7.77385 24.7657 7.25988 24.1105 7.25988C23.4553 7.25988 22.9235 7.77385 22.9235 8.40714V16.4196C17.7386 11.0963 20.0272 6.0759 22.914 2.77178L22.9045 2.78096Z' fill='%23236130'/%3E%3Cpath d='M35.5441 51.5997L37.8231 52.334C37.9751 52.389 38.127 52.4258 38.279 52.4258C38.6683 52.4258 38.9817 52.233 39.2571 52.0311L41.5551 49.81C41.6406 49.7274 41.7735 49.5989 41.8115 49.4245L43.3594 46.4324V46.3407C43.3594 46.0286 43.3594 45.7533 43.2644 45.4779L42.4952 43.2568C42.2958 42.6878 41.783 42.3206 41.1848 42.3206H39.447L38.3454 41.256C38.089 41.0082 37.7377 40.8613 37.3958 40.8613C37.1489 40.8613 36.921 40.9348 36.7976 41.0357L33.7588 42.5042C33.4074 42.6511 33.1416 42.9448 33.0371 43.3027C32.9231 43.7065 33.0086 44.1471 33.284 44.5234L35.3067 47.0841C35.3067 47.0841 35.3352 47.2952 35.3542 47.2952L34.6704 50.0027C34.566 50.3056 34.5945 50.636 34.7559 50.9481C34.9173 51.2693 35.2117 51.5171 35.5441 51.6181V51.5997ZM37.9086 47.8551C38.165 47.0382 37.9656 46.102 37.3768 45.3494L36.3892 44.1104L37.1204 43.78L37.9846 44.6152C38.1935 44.8171 38.6018 45.0282 38.9627 45.0282H40.2826L40.5865 45.845L39.333 48.0019L37.7947 49.4888L37.4908 49.3878L37.9181 47.8367L37.9086 47.8551Z' fill='%23236130'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_59_2341'%3E%3Crect width='49' height='73.7829' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

















/***************** 왼쪽 메뉴 스타일 수정 방법 1번(페이지에서 수정사항 복붙 한 것) *****************/
#fp-nav.fp-left {
    left: 20px; /* 왼쪽에서 떨어진 거리 */
}
#fp-nav {
    top: 50%; /*??????*/
}
#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 8px 0;
    padding: 0 0 0 13px;
}
#fp-nav ul li:last-child {
    display: none;
}
#fp-nav ul li a {
    /* li대로 덮어서 넓이가 꽉 차게 하려고 */
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    top: 0;
}
#fp-nav ul li a::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 50%;
}

/* 마우스를 오버하거나 현재 선택된 메뉴 */
#fp-nav ul li a.active::before,
#fp-nav ul li:hover a::before {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
#fp-nav ul li a.active::after,
#fp-nav ul li:hover a::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -30px;
    width: 35px;
    height: 1px;
    background-color: var(--main-color);
}


#fp-nav ul li a span {
    display: none; /* 숨김 */
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    /* 마우스를 오버하거나 현재 선택된 메뉴 */
    background-color: var(--main-color);
    color: #fff;
    font-weight: var(--bold-weight);
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
#fp-nav ul li .fp-tooltip { /* absolute XXXXX */
    position: relative;
    top: auto;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    font-family: inherit; /* 기본 스타일 상속 */
    max-width: 100%; /* 해제 */
    overflow: visible; /* hidden 해제 */
    display: inline-block; /* 글자 넓이 만큼 스타일 들어감 */
    opacity: 1;
    width: auto;
    padding: 1px 5px 0 5px;
    border-radius: 5px;
}
@media screen and (max-width:1024px){
    #fp-nav {
        display: none !important;
    }
}
/******** 배경이 흰색일 때 ********/
body.bg_w #fp-nav ul li .fp-tooltip {
    color: var(--base-color);
}
body.bg_w #fp-nav ul li:hover .fp-tooltip,
body.bg_w #fp-nav.fp-show-active a.active + .fp-tooltip {
    color: #fff;
}
body.bg_w #fp-nav ul li a::before {
    border-color: var(--base-color);
}
body.bg_w #fp-nav ul li a.active::before,
body.bg_w #fp-nav ul li:hover a::before {
    border-color: var(--main-color);
}

/***************** 왼쪽 메뉴 스타일 수정 방법 2번(처음한 것) *****************/
/* #fp-nav.fp-left {
    left: 30px;
}
#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 8px 0;
}
#fp-nav ul li a {
    position: absolute; /* li대로 덮어서 넓이가 꽉 차게 하려고 *
}
#fp-nav ul li a::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#fp-nav ul li a span {
    display: none; /* 숨김 *
}
#fp-nav ul li .fp-tooltip {
    position: relative;
    top: auto;
    font-size: 17px;
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
    margin: 0 0 0 15px;
    display: inline-block;
    padding: 0 5px;
}

/* 현재 선택된 메뉴 *
#fp-nav ul li a.active::before {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
#fp-nav ul li a.active::after {
    content: "";
    position: absolute;
    left: -30px;
    top: 11px;
    width: 30px;
    height: 1px;
    background-color: var(--main-color);
}
#fp-nav ul li a.active + .fp-tooltip {
    /* #fp-nav ul li .fp-tooltip에 주면 현재 어떤게 선택되었는지 모르니 전체가 다 들어감
       -> 그래서 a에 activ 클래스가 들어간 애(현재 선택된)가 스타일을 가짐 *
    background-color: var(--main-color);
    border-radius: 5px;
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
} */






.quick {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    width: 78px;
}
.quick .btn {
    width: 100%;
    height: 78px;
    border-radius: 50%;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .btn.open {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_88_369' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_88_369)'%3E%3Cpath d='M4 9.33366V6.66699H28V9.33366H4ZM4 25.3337V22.667H28V25.3337H4ZM4 17.3337V14.667H28V17.3337H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .btn.close {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_2166' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_2166)'%3E%3Cpath d='M8.53317 25.3337L6.6665 23.467L14.1332 16.0003L6.6665 8.53366L8.53317 6.66699L15.9998 14.1337L23.4665 6.66699L25.3332 8.53366L17.8665 16.0003L25.3332 23.467L23.4665 25.3337L15.9998 17.867L8.53317 25.3337Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail {
    margin: 0 0 10px 0;
    border: 3px solid var(--main-color);
    border-radius: 40px;
    background-color: #FDFBF6;
    padding: 17px 0;
    display: none;
}
.quick .detail ul li + li {
    position: relative;
}
.quick .detail ul li + li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 53px;
    height: 1px;
    background-color: var(--main-color);
}
.quick .detail ul li a,
.quick .detail ul li button {
    display: block;
    width: 100%; /* button땜에 줌 */
    color: var(--main-color);
    font-size: 15px;
    text-align: center;
    padding: 33px 0 11px 0;
    position: relative; /* before 정렬의 기준 */
}
.quick .detail ul li a::before,
.quick .detail ul li button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px; /* 제일 높은 아이콘 기준() */
    top: 9px;
    background-position: center center;
    background-repeat: no-repeat;
}
.quick .detail ul li.top button::before {
    top: 4px;
}
.quick .detail ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_2177' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_2177)'%3E%3Cpath d='M10.5 18.3751L9.23125 17.2376C7.75833 15.9105 6.54063 14.7657 5.57812 13.8032C4.61562 12.8407 3.85 11.9767 3.28125 11.211C2.7125 10.4454 2.3151 9.74176 2.08906 9.1001C1.86302 8.45843 1.75 7.80218 1.75 7.13135C1.75 5.76051 2.20937 4.61572 3.12813 3.69697C4.04688 2.77822 5.19167 2.31885 6.5625 2.31885C7.32083 2.31885 8.04271 2.47926 8.72813 2.8001C9.41354 3.12093 10.0042 3.57301 10.5 4.15635C10.9958 3.57301 11.5865 3.12093 12.2719 2.8001C12.9573 2.47926 13.6792 2.31885 14.4375 2.31885C15.8083 2.31885 16.9531 2.77822 17.8719 3.69697C18.7906 4.61572 19.25 5.76051 19.25 7.13135C19.25 7.80218 19.137 8.45843 18.9109 9.1001C18.6849 9.74176 18.2875 10.4454 17.7188 11.211C17.15 11.9767 16.3844 12.8407 15.4219 13.8032C14.4594 14.7657 13.2417 15.9105 11.7688 17.2376L10.5 18.3751ZM10.5 16.0126C11.9 14.7584 13.0521 13.6829 13.9563 12.786C14.8604 11.8892 15.575 11.109 16.1 10.4454C16.625 9.78187 16.9896 9.19124 17.1937 8.67353C17.3979 8.15583 17.5 7.64176 17.5 7.13135C17.5 6.25635 17.2083 5.52718 16.625 4.94385C16.0417 4.36051 15.3125 4.06885 14.4375 4.06885C13.7521 4.06885 13.1177 4.26208 12.5344 4.64854C11.951 5.03499 11.55 5.52718 11.3313 6.1251H9.66875C9.45 5.52718 9.04896 5.03499 8.46563 4.64854C7.88229 4.26208 7.24792 4.06885 6.5625 4.06885C5.6875 4.06885 4.95833 4.36051 4.375 4.94385C3.79167 5.52718 3.5 6.25635 3.5 7.13135C3.5 7.64176 3.60208 8.15583 3.80625 8.67353C4.01042 9.19124 4.375 9.78187 4.9 10.4454C5.425 11.109 6.13958 11.8892 7.04375 12.786C7.94792 13.6829 9.1 14.7584 10.5 16.0126Z' fill='%23236130'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.naver a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_734' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_734)'%3E%3Cpath d='M12 20C11.0667 20 10.1875 19.8542 9.3625 19.5625C8.5375 19.2708 7.78333 18.8583 7.1 18.325L5.7 19.7C5.51667 19.8833 5.28333 19.975 5 19.975C4.71667 19.975 4.48333 19.8833 4.3 19.7C4.11667 19.5167 4.025 19.2833 4.025 19C4.025 18.7167 4.11667 18.4833 4.3 18.3L5.675 16.925C5.14167 16.2417 4.72917 15.4833 4.4375 14.65C4.14583 13.8167 4 12.9333 4 12C4 9.76667 4.775 7.875 6.325 6.325C7.875 4.775 9.76667 4 12 4H20V12C20 14.2333 19.225 16.125 17.675 17.675C16.125 19.225 14.2333 20 12 20ZM12 18C13.6667 18 15.0833 17.4167 16.25 16.25C17.4167 15.0833 18 13.6667 18 12V6H12C10.3333 6 8.91667 6.58333 7.75 7.75C6.58333 8.91667 6 10.3333 6 12C6 12.65 6.1 13.2708 6.3 13.8625C6.5 14.4542 6.775 14.9917 7.125 15.475L12.3 10.3C12.4833 10.1167 12.7167 10.025 13 10.025C13.2833 10.025 13.5167 10.1167 13.7 10.3C13.9 10.5 14 10.7375 14 11.0125C14 11.2875 13.9 11.525 13.7 11.725L8.525 16.9C9.00833 17.25 9.54583 17.5208 10.1375 17.7125C10.7292 17.9042 11.35 18 12 18Z' fill='%23236130'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.green a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_737' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_737)'%3E%3Cpath d='M5 22V20H11V16H9C7.61667 16 6.4375 15.5125 5.4625 14.5375C4.4875 13.5625 4 12.3833 4 11C4 10 4.275 9.07917 4.825 8.2375C5.375 7.39583 6.11667 6.78333 7.05 6.4C7.2 5.15 7.74583 4.10417 8.6875 3.2625C9.62917 2.42083 10.7333 2 12 2C13.2667 2 14.3708 2.42083 15.3125 3.2625C16.2542 4.10417 16.8 5.15 16.95 6.4C17.8833 6.78333 18.625 7.39583 19.175 8.2375C19.725 9.07917 20 10 20 11C20 12.3833 19.5125 13.5625 18.5375 14.5375C17.5625 15.5125 16.3833 16 15 16H13V20H19V22H5ZM9 14H15C15.8333 14 16.5417 13.7083 17.125 13.125C17.7083 12.5417 18 11.8333 18 11C18 10.4 17.8292 9.85 17.4875 9.35C17.1458 8.85 16.7 8.48333 16.15 8.25L15.1 7.8L14.95 6.65C14.85 5.9 14.5208 5.27083 13.9625 4.7625C13.4042 4.25417 12.75 4 12 4C11.25 4 10.5958 4.25417 10.0375 4.7625C9.47917 5.27083 9.15 5.9 9.05 6.65L8.9 7.8L7.85 8.25C7.3 8.48333 6.85417 8.85 6.5125 9.35C6.17083 9.85 6 10.4 6 11C6 11.8333 6.29167 12.5417 6.875 13.125C7.45833 13.7083 8.16667 14 9 14Z' fill='%23236130'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.649845 8.17508L8.82492 -3.57344e-07L17 8.17508L15.5489 9.62615L8.82492 2.90215L2.10092 9.62615L0.649845 8.17508Z' fill='%23236130'/%3E%3C/svg%3E%0A");
}


.quick .detail ul li.top button {
    padding-top: 22px;
}