@import url(font.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);


.visual {
    position: relative; /* ctrl_wrap, scroll_down 정렬의 기준 */
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 35.29em; /* 최소높이 - 600 / 17 = 35.29 */
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    /* 여기에는 delay 안줌 -> 주면 이상해짐 */
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1,1.1,1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 5.73%;
    bottom: 40.38%;
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt.mobil {
    display: none; /* 숨김 */
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden; /* 위로 올라오는 효과 줄 때 필수 */
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: var(--visual-font);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    white-space: nowrap; /* 1줄로 표현 -> 이거 안돼있으면 글자 올라오는 효과 줄 때 홀라당 잘림 */

    transform: translateY(100%);
    /*transform: translateY(50%); /* 100% -> 0%으로 애니메이션 */
    transition: 0.8s;
    /*transition-delay: 0.5s;*/
}
.visual .swiper-slide .txt_wrap .txt.f_italic p {
    font-style: italic;
}
.visual .swiper-slide .txt_wrap .txt.d_margin p {
    margin-top: 0.83em;
}
.visual .swiper-slide .txt_wrap span {
    color: #fff;
    display: block;
    margin-top: 0.94em;
}

/* --> 윗줄 아랫줄 올라오는 속도 다르게 코딩한 것 */
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay1 p {
    transition-delay: 0.6s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay2 p {
    transition-delay: 0.8s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0%);
    /*animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;*/
}
@keyframes visual_txt {
    0%{transform: translateY(100%);}
    100%{transform: translateY(0);}
}

@media screen and (min-width:769px){
    .visual .swiper .paging {
        position: absolute; /* visual을 기준으로 정렬 */
        bottom: 16.88%;
        left: 5.73%; /* txt_wrap이랑 같은 값 */
        z-index: 10;
        width: auto;
        color: #fff;
        display: flex;
        gap: 0.88em;
    }
    .visual .swiper .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .visual .swiper .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
    .visual .swiper .paging .swiper-pagination-bullet-active {
        opacity: 1;
        background: transparent;
        /* 선택된 팝업 변경 스타일 */
    }
    .visual .swiper .paging .swiper-pagination-bullet {
        width: 11.33em;
        height: auto;
        display: block;
        border-radius: 0;
        background: transparent;
        opacity: 1;
        margin: 0;
        font-size: 0.88rem;
        border-bottom: 0.2em solid rgba(255,255,255,0.2);
        padding: 0 0 0.33em 0;
        position: relative; /* before 정렬의 기준 */
    }
    .visual .swiper .paging .swiper-pagination-bullet::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.2em;
        width: 0;
        height: 0.2em;
        background-color: #fff;
    }
    .visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        animation-name: visual_paging;
        animation-duration: 5s; /* jquery의 autoplay 시간과 맞추기 */
        animation-iteration-count: 1; /* 반복 횟수*/
        animation-fill-mode: forwards; /* 마지막 100% 유지 */
        /* animation-timing-function: linear; 가속도 삭제 */
    }


    .visual .scroll_down {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5.8%;
        font-size: 0.82rem;
        font-weight: var(--bold-weight);
        color: #fff;
    }
    .visual .scroll_down::before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        top: 1.64em;
        width: 1.43em;
        height: 2.14em;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='30' viewBox='0 0 20 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='18' height='28' rx='9' stroke='white' stroke-width='2'/%3E%3Ccircle cx='10' cy='9' r='1.5' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        animation-name: scroll_down;
        animation-duration: 2s;
        animation-iteration-count: infinite; /* 무제한 반복 */
        animation-timing-function: linear; /* 가속도 조절 */
    }
}/*@media*/
@keyframes visual_paging {
    0% { width: 0; }
    100% { width: 100%; }
}
@keyframes scroll_down {
    0% { top: 1.64em; }
    50% { top: 2.36em; }
    100% { top: 1.64em; }
} 


@media screen and (max-width:1300px){
    .visual .swiper-slide .txt_wrap {
        left: 20px;
    }
    .visual .swiper .paging {
        left: 20px;
    }
}/* @media */

@media screen and (max-width:768px){
            .visual .swiper,
            .visual .swiper-slide .photo img,
            .visual .swiper-slide .photo video {
                height: 600px;
            }
            .visual .swiper-slide .photo.d_photo {
                position: relative;
            }
            .visual .swiper-slide .photo.d_photo::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 600px;
                background: url(../images/main/m_visual.jpg) center bottom / cover;
            }
            .visual .swiper-slide .photo.d_photo img {
                display: none;
            }
            .visual .swiper-slide.swiper-slide-active .photo img {
                transform: scale3d(1,1,1);
            }
            .visual .swiper-slide .txt_wrap {
                bottom: 35%;
            }
            .visual .swiper-slide .txt_wrap .txt.mobil {
                display: block; /* 나타남 */
            }
            .visual .swiper-slide .txt_wrap .txt.pc {
                display: none; /* 숨김 */
            }
            
            .visual .swiper-slide .txt_wrap .txt.resize p {
                font-size: 1.56rem;
            }
            .visual .swiper-slide .txt_wrap .txt.d_margin p {
                margin-top: 0.57em;
            }
            .visual .swiper-slide .txt_wrap span {
                display: none;
            }
            .visual .swiper .paging {
                position: absolute; /* visual을 기준으로 정렬 */
                bottom: 29.33%;
                left: 20px;
                z-index: 10;
                width: auto;
                display: flex;
                gap: 0.19em;
            }
            .visual .swiper .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
            .visual .swiper .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0;
            }
            .visual .swiper .paging .swiper-pagination-bullet {
                width: 9px;
                height: 5px;
                border-radius: 3px;
                background: rgba(255,255,255,0.6);
                opacity: 1;
                font-size: 0;
                line-height: 0;
                margin: 0;
            }
            .visual .swiper .paging .swiper-pagination-bullet-active {
                opacity: 1;
                background: #fff;
                width: 35px;
            }
            .visual .scroll_down {
                display: none;
            }
}/* @media */





/* title의 공통스타일 */
section .tit {
    margin-bottom: 27px;
}
section .tit strong,
section .tit h2 {
    font-weight: var(--bold-weight);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    font-style: italic;
}
section .tit h2 {
    color: var(--tit-color);
}
section .tit strong {
    display: inline-block;
    color: var(--point-color);
}
@media screen and (max-width:768px){
            section .tit {
                margin-bottom: 15px;
            }
}/* @media */






.news {
    position: relative; /* .today::after */
}
.news .wrapper {
    display: flex;
}
.news .today {
    padding: 113px 0;
    width: 56.72%;
    padding-right: 4%;
}
.news .today::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 56.72%;
    height: 100%;
    background-color: #F8F8F8;
}
.news .column {
    position: relative; /* after, more */
    padding: 113px 0;
    width: 43.28%;
    padding-left: 4%;
}
.news .column::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10000px;
    z-index: -1;
    width: calc(100% + 10000px);
    height: 100%;
    background-color: #005345;
}
.news .today .tit,
.news .column .tit {
    position: relative;
}
.news .today .tit .more,
.news .column .tit .more {
    position: absolute;
    top: 6px;
    right: 0;
}
.news .today .tit .more a,
.news .column .tit .more a {
    display: block;
    transition: 0.5s;
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_156_1668' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='42' height='42'%3E%3Crect width='42' height='42' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_156_1668)'%3E%3Cpath d='M19.0094 37.1059V22.9908H4.89429V19.0096H19.0094V4.89453H22.9906V19.0096H37.1057V22.9908H22.9906V37.1059H19.0094Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.news .column .tit .more a {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_156_1668' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='42' height='42'%3E%3Crect width='42' height='42' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_156_1668)'%3E%3Cpath d='M19.0094 37.1059V22.9908H4.89429V19.0096H19.0094V4.89453H22.9906V19.0096H37.1057V22.9908H22.9906V37.1059H19.0094Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.news .today .tit .more a:hover,
.news .column .tit .more a:hover {
    transform: rotate(90deg);
}
.news .today .list {
    display: flex;
    gap: 24px;
}
.news .today .list .group01 {
    width: 72.5%;
}
.news .today .list .group02 {
    width: 27.5%;
}
.news .today .list .group01 ul li a,
.news .today .list .group02 ul li a,
.news .column a {
    display: block;
}
.news .today .list .group02 ul li:last-child a {
    margin-top: 31px;
}
.news .today .list .group01 ul li a .photo,
.news .today .list .group02 ul li a .photo,
.news .column a .photo {
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
}
.news .today .list .group02 ul li a .photo {
    height: 123px;
}
.news .today .list .group01 ul li a .photo img,
.news .today .list .group02 ul li a .photo img,
.news .column a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .today .list .group01 ul li a:hover .photo img,
.news .today .list .group02 ul li a:hover .photo img,
.news .column a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.news .today .list ul li a h3,
.news .column a h3 {
    font-size: var(--ctn_sub-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-top: 18px;

    height: 2.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news .column .tit h2,
.news .column a h3 {
    color: #fff;
}
.news .column .tit strong {
    color: var(--sub-point-color);
}
.news .today .list .group02 ul li a h3,
.news .today .list .group02 ul li a p {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .today .list .group02 ul li a h3 {
    font-size: 19px;
    margin: 20px 0 4px 0;
}
@media screen and (max-width:1200px){
    .news .today .list .group01 ul li a .photo,
    .news .today .list .group02 ul li a .photo,
    .news .column a .photo {
        height: 290px;
    }
    .news .today .list .group02 ul li:last-child a {
        margin-top: 21px;
    }
    .news .today .list .group02 ul li a .photo {
        height: 100px;
    }
    .news .today .list .group02 ul li a h3 {
        margin-top: 16px;
    }
}/*@media*/

@media screen and (max-width:1024px){
    /************** 모바일 ************/
    .news .wrapper {
        display: block;
    }
    .news .today {
        padding: 71px 0;
        width: auto;
        padding-right: 0;
    }
    .news .today::after {
        width: 100%;
    }
    .news .column {
        padding: 71px 0;
        width: auto;
        padding-left: 0;
    }
    .news .column::after {
        left: -20px;
    }
    .news .today .tit,
    .news .column .tit {
        margin-bottom: 19px;
    }
    .news .today .tit .more,
    .news .column .tit .more {
        top: 5px;
    }
    .news .today .tit .more a,
    .news .column .tit .more a {
        width: 33px;
        height: 33px;
    }
}/*@media*/

@media screen and (max-width:768px){
    .news .today .tit,
    .news .column .tit {
        margin-bottom: 15px;
    }
    .news .today .list ul li a h3,
    .news .column a h3 {
        margin-top: 15px;
    }
    .news .today .list {
        display: block;
    }
    .news .today .list .group01,
    .news .today .list .group02 {
        width: auto;
    }
    .news .today .list .group02 {
        margin-top: 30px;
    }
    .news .today .list .group02 ul {
        display: flex;
        justify-content: space-between;
    }
    .news .today .list .group02 ul li {
        width: 48%;
    }
    .news .today .list .group02 ul li:last-child a {
        margin-top: 0;
    }
    .news .today .list .group01 ul li a .photo,
    .news .today .list .group02 ul li a .photo,
    .news .column a .photo {
        height: 219px;
    }
    .news .today .list .group02 ul li a .photo {
        height: 114px;
    }
    .news .today .tit .more a,
    .news .column .tit .more a {
        width: 21px;
        height: 21px;
    }
}/*@media*/





.performance {
    position: relative;
    padding: 92px 0 71px 0;
}
.performance::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1920px;
    width: 100%;
    height: min(26vw, 513px);
    background: url(../images/main/performance_bg.png) no-repeat right bottom / cover;
}
.performance .tit {
    text-align: center;
    margin-bottom: 38px;
}
.performance .list ul {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
}
.performance .list ul li {
    position: relative;
    margin-top: 115px;
}
.performance .list ul li::after {
    content: "";
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 102px;
    height: 103px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.performance .list ul li.rate::after {
    background-image: url("data:image/svg+xml,%3Csvg width='102' height='103' viewBox='0 0 102 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_156_1685)'%3E%3Cpath d='M22.8121 78.9481H5.96313V87.4931C5.96313 92.2109 9.76443 96.038 14.4647 96.038C19.1649 96.038 22.9213 92.2238 22.9341 87.5189V6.96777H95.0368L95.024 87.5125C94.9919 92.2109 91.2034 96.0316 86.5224 96.0316H14.4583' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M84.4903 42.2724C85.5217 35.8433 81.1725 29.7911 74.7761 28.7544C68.3796 27.7178 62.3582 32.0892 61.3268 38.5183C60.2954 44.9474 64.6446 50.9996 71.041 52.0363C77.4374 53.0729 83.4589 48.7015 84.4903 42.2724Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M79.4785 50.1777V69.6104L73.4491 64.5312L67.4197 69.6104V50.8231' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M78.446 41.2529C78.9143 38.1806 76.816 35.3084 73.7593 34.8378C70.7026 34.3671 67.845 36.4761 67.3767 39.5484C66.9084 42.6207 69.0067 45.4929 72.0634 45.9636C75.1201 46.4342 77.9777 44.3252 78.446 41.2529Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M34.9929 34.0742H52.3299' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M34.9929 45.0527H52.3299' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M34.9929 56.6699H52.3299' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M34.9929 67.6416H52.3299' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_156_1685'%3E%3Crect width='91' height='91' fill='white' transform='translate(5 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.performance .list ul li.scholarship::after {
    background-image: url("data:image/svg+xml,%3Csvg width='102' height='103' viewBox='0 0 102 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_156_1697)'%3E%3Cpath d='M51.0322 47.2333L96.7852 24.8187L51.0322 3.06445L5.2146 24.8187L51.0322 47.2333Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M79.6487 33.2173V48.7331C49.702 78.3607 21.97 49.2845 21.97 49.2845V33.0186' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M89.8958 28.1973L89.928 28.2037V45.9699' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M93.9046 50.7327C94.2998 48.5295 92.8216 46.4253 90.6028 46.0328C88.384 45.6404 86.2649 47.1083 85.8697 49.3115C85.4744 51.5147 86.9527 53.6189 89.1715 54.0114C91.3903 54.4038 93.5094 52.9359 93.9046 50.7327Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M91.7167 53.9014L94.8031 64.7432H84.7175L88.314 54.004' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M57.681 90.0289C61.9601 87.3872 63.2724 81.801 60.6119 77.5519C57.9515 73.3027 52.3259 71.9997 48.0467 74.6415C43.7675 77.2832 42.4553 82.8694 45.1157 87.1185C47.7762 91.3677 53.4018 92.6707 57.681 90.0289Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M44.9307 86.8115L41.1729 95.903L45.9896 94.3258L48.3916 98.7562L51.4909 91.2932' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M61.0145 86.4072L64.7917 95.4987L59.9814 93.9215L57.573 98.3519L54.5835 91.2287' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M57.0347 83.5677C57.7236 81.2775 56.4124 78.8664 54.106 78.1824C51.7996 77.4983 49.3715 78.8004 48.6826 81.0906C47.9937 83.3807 49.305 85.7918 51.6114 86.4759C53.9177 87.1599 56.3459 85.8579 57.0347 83.5677Z' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M43.8718 89.4467L10.4965 90.6008C8.75957 89.9853 7.44238 86.7475 7.44238 82.8557C7.44238 78.9639 8.80477 75.6299 10.5675 75.085L45.8476 76.534' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M59.8137 76.4634L89.9864 75.085C91.7556 75.6299 93.118 78.8998 93.118 82.8557C93.118 86.8116 91.8008 89.9789 90.0639 90.6008L62.2544 89.5108' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_156_1697'%3E%3Crect width='96' height='99' fill='white' transform='translate(3 2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.performance .list ul li.book::after {
    background-image: url("data:image/svg+xml,%3Csvg width='102' height='103' viewBox='0 0 102 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_156_1714)'%3E%3Cpath d='M94.9855 80.1533H6.01454C5.45256 80.1533 5 80.7505 5 81.4871V97.6663C5 98.4029 5.45256 99.0001 6.01454 99.0001H14.9464C15.1056 99.0001 15.2548 98.9404 15.3891 98.8508C15.7471 98.9404 16.145 99.0001 16.5777 99.0001H94.9904C95.5524 99.0001 96.005 98.4029 96.005 97.6663V81.4871C96.005 80.7505 95.5524 80.1533 94.9904 80.1533H94.9855ZM93.9759 88.2305H16.5777C16.3638 88.2305 16.1599 88.2454 15.961 88.2703V82.8258H93.9759V88.2305ZM7.0241 82.8258H13.9319V96.3326H7.0241V82.8258ZM35.8091 96.3326H16.5777C16.3638 96.3326 16.1599 96.3475 15.961 96.3724V90.8582C16.1599 90.8831 16.3638 90.898 16.5777 90.898H93.9759V96.3326H35.8091Z' fill='%231D1D1D'/%3E%3Cpath d='M50.0276 13.5052C49.9282 13.7939 49.8685 14.1174 49.8735 14.4608L49.9928 28.1517L50.3459 67.9006C50.3061 67.9952 50.2763 68.0897 50.2813 68.1893C50.2813 68.2888 50.3111 68.3834 50.3509 68.4779L50.4354 77.8092C50.4354 78.2621 51.1018 78.6254 51.9224 78.6204L69.836 78.5159C70.6516 78.5159 71.313 78.1427 71.308 77.6898L70.7361 13.0275L70.6715 5.81125C70.6715 5.35837 70.0051 4.99507 69.1845 5.00005L51.2709 5.10456C50.4553 5.10456 49.7939 5.47781 49.7989 5.93069L49.8635 13.1469C49.8635 13.2763 49.9331 13.3958 50.0276 13.5052ZM68.2495 66.9103C68.1351 66.9003 68.0207 66.8903 67.8964 66.8903L53.2901 66.9749L52.9618 29.9532L52.8226 14.4409C52.8226 14.2717 52.8027 14.1074 52.7728 13.9482L67.7721 13.8586L68.2396 66.9053L68.2495 66.9103ZM53.3796 76.9732L53.3099 69.3737L67.9163 69.2891C68.0357 69.2891 68.15 69.2792 68.2694 69.2692L68.339 76.8885L53.3845 76.9732H53.3796ZM67.7124 6.64734L67.7621 12.2262L52.8077 12.3158L52.7579 6.73692L67.7124 6.64734Z' fill='%231D1D1D'/%3E%3Cpath d='M73.2575 13.5052C73.158 13.7939 73.0983 14.1174 73.1033 14.4608L73.2226 28.1517L73.6603 77.8092C73.6603 78.2621 74.3267 78.6254 75.1473 78.6204L93.0608 78.5159C93.8764 78.5159 94.5379 78.1427 94.5329 77.6898L93.961 13.0275L93.8963 5.81125C93.8963 5.35837 93.2299 4.99507 92.4093 5.00005L74.4958 5.10456C73.6802 5.10456 73.0187 5.47781 73.0237 5.93069L73.0884 13.1469C73.0884 13.2763 73.158 13.3958 73.2525 13.5052H73.2575ZM91.1561 30.854L76.2016 30.9386L76.1916 29.9532L76.0524 14.4409C76.0524 14.2717 76.0325 14.1074 76.0027 13.9482L91.0019 13.8586L91.1511 30.8491L91.1561 30.854ZM76.6094 76.9732L76.2215 33.3374L91.176 33.2528L91.5639 76.8885L76.6094 76.9732ZM90.9422 6.64734L90.992 12.2262L76.0375 12.3158L75.9878 6.73692L90.9422 6.64734Z' fill='%231D1D1D'/%3E%3Cpath d='M7.9242 73.8927L21.5061 79.0436C22.1277 79.2775 22.7543 79.1282 22.9185 78.7052L45.8201 18.2382L48.3764 11.4898C48.5355 11.0668 48.1675 10.5343 47.5459 10.3004L33.964 5.14948C33.3423 4.91557 32.7157 5.06487 32.5516 5.48789L29.9954 12.2363C29.9506 12.3557 29.9556 12.4851 29.9954 12.6195C29.8163 12.8584 29.6572 13.1421 29.5328 13.4656L24.0374 27.9726L7.09367 72.7033C6.93453 73.1263 7.30255 73.6588 7.9242 73.8927ZM34.5061 7.10532L45.845 11.4052L43.8706 16.6258L32.5317 12.3259L34.5061 7.10532ZM31.7758 14.3166C31.8354 14.1573 31.8802 13.9981 31.92 13.8438L43.2938 18.1586L24.3905 68.06L13.0367 63.79L26.9269 27.1216L31.7758 14.3166ZM12.1863 66.0345L23.5401 70.3045L20.969 77.0927L9.63002 72.7928L12.1912 66.0345H12.1863Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_156_1714'%3E%3Crect width='91' height='94' fill='white' transform='translate(5 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.performance .list ul li .number strong,
.performance .list ul li .number span {
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--point-color);
}
.performance .list ul li .number strong {
    font-size: 70px;
}
.performance .list ul li .txt {
    display: flex;
    flex-direction: column;
}
.performance .list ul li .txt strong {
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    margin-top: 12px;
}
.performance .list ul li .txt span {
    font-size: 14px;
}
@media screen and (max-width:1024px){
    .performance .tit {
        margin-bottom: 27px;
    }
    .performance .list ul li {
        margin-top: 100px;
    }
    .performance .list ul li::after {
        top: -100px;
        width: 92px;
        height: 93px;
    }
    .performance .list ul li .number strong {
        font-size: 58px;
    }
    .performance .list ul li .txt strong {
        margin-top: 8px;
    }
}/*@media*/
@media screen and (max-width:768px){
    .performance {
        padding: 71px 0;
    }
    .performance .tit {
        margin-bottom: 17px;
    }
    .performance .list ul li {
        margin-top: 88px;
    }
    .performance .list ul li::after {
        top: -88px;
        width: 76px;
        height: 77px;
    }
    .performance .list ul li .number strong {
        font-size: 45px;
    }
    .performance .list ul li .txt strong {
        margin-top: 8px;
    }
}/*@media*/
@media screen and (max-width:500px){
    .performance::before {
        bottom: auto;
        top: 0px;
        width: 120%;
        height: 123px;
    }
    .performance .tit {
        margin-bottom: 30px;
    }
    .performance .list ul {
        display: block;
        text-align: left;
    }
    .performance .list ul li {
        margin-top: 0;
        padding: 20px 0;
        border-bottom: 1px solid #EDEDED;
    }
    .performance .list ul li:last-child {
        border-bottom: 0;
    }
    .performance .list ul li::after {
        top: 33px;
        left: auto;
        right: 0;
        transform: translateX(0);
    }
    .performance .list ul li .txt strong {
        margin-top: 11px;
    }
}/*@media*/






.updates {
    background: url(../images/main/updates_bg.jpg) no-repeat center center / cover;
    padding: 132px 0;
}
.updates .wrapper {
    display: flex;
    gap: 40px;
}
.updates .notice {
    position: relative; /* tab_list */
    width: 54.37%;
}
.updates .notice .tit h2,
.updates .campus .tit h2 {
    color: #fff;
}
.updates .notice .tit strong {
    color: var(--sub-point-color);
}
.updates .notice .list .tab_list {
    position: absolute; /* tit */
    top: 25px;
    right: 0;
}
.updates .notice .list .tab_list ul {
    display: flex;
    gap: 23px;
}
.updates .notice .list .tab_list ul li button {
    position: relative;
    color: #fff;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.updates .notice .list .tab_list ul li button::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -14px;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
}
.updates .notice .list .tab_list ul li:last-child button::after {
    display: none;
}
.updates .notice .list .tab_list ul li:hover button,
.updates .notice .list .tab_list ul li.active button {
    border-bottom: 2px solid #fff;
}
.updates .notice .list .tab_content {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.updates .notice .list .tab_content .tab_item {
    display: none; /* 숨김 */
}
.updates .notice .list .tab_content .tab_item.active {
    display: block; /* 나타남 */
}
.updates .notice .list .tab_content .tab_item ul li {
    border-top: 1px solid #ccc;
}
.updates .notice .list .tab_content .tab_item ul li:first-child {
    border-top: 0;
}
.updates .notice .list .tab_content .tab_item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a {
    flex-direction: row-reverse;
}
.updates .notice .list .tab_content .tab_item ul li a .desc {
    width: calc(100% - 132px);
    margin: 25px 0;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a .desc {
    width: calc(100% - 90px);
    margin-top: 0;
}
.updates .notice .list .tab_content .tab_item ul li:last-child a .desc {
    margin-bottom: 0;
}
.updates .notice .list .tab_content .tab_item ul li a .desc h4 {
    font-size: var(--ctn_sub-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.updates .notice .list .tab_content .tab_item ul li a .desc h4 span {
    position: relative;
}
.updates .notice .list .tab_content .tab_item ul li a .desc h4 span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--tit-color);
    transition: 0.5s;
}
.updates .notice .list .tab_content .tab_item ul li a:hover .desc h4 span::before {
    width: 100%;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a .desc h4 {
    margin: 0 0 9px 0;
}
.updates .notice .list .tab_content .tab_item ul li a .desc p {
    display: none;
    word-break: normal;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a .desc p {
    display: block;

    height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.updates .notice .list .tab_content .tab_item ul li a .data {
    width: 132px;
    text-align: right;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a .data {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 25px;
}
.updates .notice .list .tab_content .tab_item ul li:first-child a .data strong {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--point-color);
}
.updates .campus {
    width: 45.63%;
}
.updates .campus .list ul {
    display: flex;
    gap: 9px;
}
.updates .campus .list ul li {
    width: 50%;
}
.updates .campus .list ul li a {
    display: block;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}
.updates .campus .list ul li a .photo {
    overflow: hidden;
    height: 236px;
}
.updates .campus .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.updates .campus .list ul li a .txt {
    padding: 15px;
}
.updates .campus .list ul li a .txt h3 {
    font-size: var(--ctn_sub-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 34px;
    word-break: normal;

    height: 2.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.updates .campus {
    position: relative;
}
.updates .campus .more {
    position: absolute;
    top: 6px;
    right: 0;
}
.updates .campus .more a {
    display: block;
    transition: 0.5s;
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_156_1668' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='42' height='42'%3E%3Crect width='42' height='42' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_156_1668)'%3E%3Cpath d='M19.0094 37.1059V22.9908H4.89429V19.0096H19.0094V4.89453H22.9906V19.0096H37.1057V22.9908H22.9906V37.1059H19.0094Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.updates .campus .more a {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_156_1668' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='42' height='42'%3E%3Crect width='42' height='42' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_156_1668)'%3E%3Cpath d='M19.0094 37.1059V22.9908H4.89429V19.0096H19.0094V4.89453H22.9906V19.0096H37.1057V22.9908H22.9906V37.1059H19.0094Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.updates .campus .more a:hover {
    transform: rotate(90deg);
}
