/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
body {
    font-family: "Pretendard", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
    word-break: keep-all; /* 스페이스기준 단어별로 떨어지게 함 */
    word-wrap: break-word; /* 단어가 너무 긴 경우 강제로 줄바꿈을 주는 방법 */
}
#wrap {
    min-width: 1320px;
    /* 
        1260 + 30 + 30 =1320
        wrapper 넓이 + 로고옆 여백 + tnb옆 여백 = 총값
     */
    position: relative; /* header 정렬의 기준 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}


@media screen and (max-width:640px){
            /* 브라우저 넓이가 640px 이하에서만 작동 */
            #wrap {
                min-width: 0; /* 최소넓이 없음 */
            }
            .wrapper {
                width: auto; /* 넓이는 알아서 좌우여백 20px */
                margin: 0 20px;
            }
            body {
                font-size: 16px;
            }
}/*media 꽁다리*/



/* 글자를 숨겨야하는 경우 blind 클래스를 적용
    skip, blind 이렇게 두 이름으로 많이 부름 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent; /* 글자가 투명 */
}