@import url(common.css);
@import url(default.css);
@import url(font.css);

.main_font {
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.3;
}
.book .book_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: calc(50% + 630px);
    left: calc(50% - 630px);
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #422E23;
    margin: 10px 0 12px 0;
}
.book .book_wrap .list {
    width: calc(100% - 268px);
    padding: 10px 0 0 10px;
    overflow-x: hidden;
}
.book .book_wrap .list ul {
    display: flex;
    gap: 24px;
    width: 1778px;
}
.book .book_wrap .list ul li {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25);
}
.book .book_wrap .list ul li a .photo img {
    width: 100%;
    vertical-align: top;
}
.book .book_wrap .list ul li a h3 {
    font-size: 21px;
    color: #422E23;
    margin: 23px 0 6px 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .list ul li a strong {
    display: block;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .more {
    position: absolute; /* book_wrap */
    top: 198px;
    left: 0;
    font-size: 14px;
    padding: 2px 35px 2px 18px;
    color: rgba(65, 45, 34, 0.8);
    background-color: rgba(225,214,208,0.6);
    border-radius: 13px;
    transition: 0.5s;
}
.book .book_wrap .more::after {
    content: "";
    position: absolute; /* more */
    top: 8px;
    right: 17px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98077 5.01923H0V3.98077H3.98077V0H5.01923V3.98077H9V5.01923H5.01923V9H3.98077V5.01923Z' fill='%23412D22' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}

@media screen and (min-width:641px){ /******* pc형 오버효과 ******/
            .book .book_wrap .list ul li a h3 span {
                position: relative; /* before */
            }
            .book .book_wrap .list ul li a h3 span::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 1px;
                width: 0;
                background-color: #422E23;
                transition: 0.5s;
            }
            .book .book_wrap .list ul li a:hover h3 span::before {
                width: 100%;
            }
            .book .book_wrap .more:hover {
                background-color: #E1D6D0;
            }
            .book .book_wrap .more:hover:after {
                transform: rotate(90deg);
            }
}/* @media */

@media screen and (max-width:640px){ /* 모바일 */
            .book .book_wrap {
                display: block;
                width: 100%;
                left: auto;
            }
            .book .book_wrap .tit {
                margin: 0 55px 0 20px;
                /* 오른쪽 여백은 브라우저 사이즈가 줄어들었을 때옆에 more의 아이콘이랑 겹치지 않기 위해 줌 */
            }
            .book .book_wrap .tit h2 {
                font-size: 28px;
                margin: 10px 0 0 0;
            }
            .book .book_wrap .tit h2 br{
                display: none; /* 줄바꿈 삭제 */
            }
            .book .book_wrap .tit p {
                display: none; /* 숨김 */
            }
            .book .book_wrap .list {
                width: auto;
                padding: 27px 0 10px 20px;
                overflow-x: auto;
            }
            .book .book_wrap .list ul {
                gap: 16px;
                width: 1092px;
            }
            .book .book_wrap .list ul li {
                width: 140px;
            }
            .book .book_wrap .list ul li a h3 {
                font-size: 18px;
                margin: 16px 0 0 0;
            }
            .book .book_wrap .list ul li a strong {
                display: none;
            }
            .book .book_wrap .more {
                left: auto;
                top: 4px;
                right: 20px;
                width: 28px;
                height: 28px;
                padding: 0;
                border-radius: 50%;
            }
            .book .book_wrap .more::after {
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-size: 11px;
            }
            .book .book_wrap .more span {
                display: none;
            }
}




.interview {
    background-color: #EDE6E3;
    padding: 155px 0 127px 0;
    margin: 155px 0 0 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-size: 40px;
    color: #422E23;
    margin: 10px 0 12px 0;
}
.interview .list {
    margin: 28px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 36px);
}
.interview .list ul li:nth-child(2) {
    margin: 42px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* txt, txt_over */
}
.interview .list ul li a .photo {
    position: relative; /* before */
    overflow: hidden;
    height: 449px;
    border-radius: 60px 0 60px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 60px 0 60px;
}
.interview .list ul li a .photo::before {
    position: absolute;
    z-index: 10;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}
.interview .list ul li a .txt {
    position: absolute; /* a */
    z-index: 11;
    bottom: 30px;
    left: 30px;
    width: calc(100% - 60px);
}
.interview .list ul li a .txt::after {
    content: "";
    position: absolute; /* txt */
    top: 18px;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0175 16.9825H0V15.0175H15.0175V0H16.9825V15.0175H32V16.9825H16.9825V32H15.0175V16.9825Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.interview .list ul li a .txt strong {
    font-size: 25px;
    color: #fff;
}
.interview .list ul li a .txt_over {
    position: absolute; /* a */
    z-index: 12;
    bottom: 0;
    left: 0;
    background-color: #412D22;
    padding: 30px 40px;
    border-radius: 60px 0 60px 0;
}
.interview .list ul li a .txt_over h3 {
    font-size: 25px;
    color: #fff;
}
.interview .list ul li a .txt_over p {
    color: rgba(255, 255, 255, 0.8);
    margin: 11px 0 17px 0;
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
    
    /* 2줄 점점점(...) */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 내 줄수 */
    -webkit-box-orient: vertical;
}
.interview .list ul li a .txt_over span {
    display: inline-block;
    position: relative; /* after */
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 16px 0 0;
}
.interview .list ul li:nth-child(2) a .txt_over {
    border-radius: 0 60px 0 60px;
}

@media screen and (min-width:641px){ /******* pc형 오버효과 ******/
}