@import url(common.css);
@import url(default.css);
@import url(font.css);

.main_font {
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.3;
}
.book .book_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: calc(50% + 630px);
    left: calc(50% - 630px);
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #422E23;
    margin: 10px 0 12px 0;
}
.book .book_wrap .list {
    width: calc(100% - 268px);
    padding: 10px 0 0 10px;
    overflow-x: hidden;
}
.book .book_wrap .list ul {
    display: flex;
    gap: 24px;
    width: 1778px;
}
.book .book_wrap .list ul li {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25);
}
.book .book_wrap .list ul li a .photo img {
    width: 100%;
    vertical-align: top;
}
.book .book_wrap .list ul li a h3 {
    font-size: 21px;
    color: #422E23;
    margin: 23px 0 6px 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .list ul li a strong {
    display: block;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .more {
    position: absolute; /* book_wrap */
    top: 198px;
    left: 0;
    font-size: 14px;
    padding: 2px 35px 2px 18px;
    color: rgba(65, 45, 34, 0.8);
    background-color: rgba(225,214,208,0.6);
    border-radius: 13px;
    transition: 0.5s;
}
.book .book_wrap .more::after {
    content: "";
    position: absolute; /* more */
    top: 8px;
    right: 17px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98077 5.01923H0V3.98077H3.98077V0H5.01923V3.98077H9V5.01923H5.01923V9H3.98077V5.01923Z' fill='%23412D22' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}

@media screen and (min-width:641px){ /******* pc형 오버효과 ******/
            .book .book_wrap .list ul li a h3 span {
                position: relative; /* before */
            }
            .book .book_wrap .list ul li a h3 span::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 1px;
                width: 0;
                background-color: #422E23;
                transition: 0.5s;
            }
            .book .book_wrap .list ul li a:hover h3 span::before {
                width: 100%;
            }
            .book .book_wrap .more:hover {
                background-color: #E1D6D0;
            }
            .book .book_wrap .more:hover:after {
                transform: rotate(90deg);
            }
}/* @media */

@media screen and (max-width:640px){ /* 모바일 */
            .book .book_wrap {
                display: block;
                width: 100%;
                left: auto;
            }
            .book .book_wrap .tit {
                margin: 0 55px 0 20px;
                /* 오른쪽 여백은 브라우저 사이즈가 줄어들었을 때옆에 more의 아이콘이랑 겹치지 않기 위해 줌 */
            }
            .book .book_wrap .tit h2 {
                font-size: 28px;
                margin: 10px 0 0 0;
            }
            .book .book_wrap .tit h2 br{
                display: none; /* 줄바꿈 삭제 */
            }
            .book .book_wrap .tit p {
                display: none; /* 숨김 */
            }
            .book .book_wrap .list {
                width: auto;
                padding: 27px 0 10px 20px;
                overflow-x: auto;
            }
            .book .book_wrap .list ul {
                gap: 16px;
                width: 1092px;
            }
            .book .book_wrap .list ul li {
                width: 140px;
            }
            .book .book_wrap .list ul li a h3 {
                font-size: 18px;
                margin: 16px 0 0 0;
            }
            .book .book_wrap .list ul li a strong {
                display: none;
            }
            .book .book_wrap .more {
                left: auto;
                top: 4px;
                right: 20px;
                width: 28px;
                height: 28px;
                padding: 0;
                border-radius: 50%;
            }
            .book .book_wrap .more::after {
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-size: 11px;
            }
            .book .book_wrap .more span {
                display: none;
            }
}
