@import url(font.css);
@import url(default.css);
@import url(common.css);

strong {
    font-family: "DM Serif Display";
    font-size: 65px;
    line-height: 1.2;
    color: #1d1d1d;
}
p span {
    font-family: "DM Serif Display";
}