@import url(font.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);


.visual {
    position: relative; /* ctrl_wrap, scroll_down 정렬의 기준 */
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 35.29em; /* 최소높이 - 600 / 17 = 35.29 */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    /* 여기에는 delay 안줌 -> 주면 이상해짐 */
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1,1.1,1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 34.4%;/* 344*100/1000 = 34.4 */
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt.mobil {
    display: none; /* 숨김 */
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden; /* 위로 올라오는 효과 줄 때 필수 */
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 3.82rem; /* 65 / 17 = 3.82 */
    line-height: var(--tit-line-height);
    white-space: nowrap; /* 1줄로 표현 -> 이거 안돼있으면 글자 올라오는 효과 줄 때 홀라당 잘림 */

    transform: translateY(100%);
    /*transform: translateY(50%); /* 100% -> 0%으로 애니메이션 */
    transition: 0.8s;
    /*transition-delay: 0.5s;*/
}

/* --> 윗줄 아랫줄 올라오는 속도 다르게 코딩한 것 */
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay1 p {
    transition-delay: 0.6s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt.delay2 p {
    transition-delay: 0.8s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0%);
    /*animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;*/
}
@keyframes visual_txt {
    0%{transform: translateY(100%);}
    100%{transform: translateY(0);}
}

.visual .ctrl_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    bottom: 28.2%;
    left: calc(50% - 630px); /* visual의 반(50%), wrapper의 반(1260/2=630) */
    width: 40px;
    z-index: 10;
}
.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 2.35em; /* 40 / 17 = 2.35 */
    height: 2.35em;/* 40 / 17 = 2.35 */
    background-position: center center;
    background-repeat: no-repeat;

    
        /* border-left: 0;
        border-left-width: 0; */ 
}
/* .visual .ctrl_wrap button:first-child {
    border-left: 1px solid #fff;
    border-left-width: 1px;
} */
/* -> ctrl 버튼이 박스로 나열될때 선이 중복되는 걸 막기위해 ㄷ자로 만든뒤
      첫번째 박스 왼쪽에만 선을 추가로 그어줌 */

.visual .ctrl_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 12V0H10V12H6.66667ZM0 12V0H3.33333V12H0Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_135_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_135_8)'%3E%3Cpath d='M8 5L19 12L8 19L8 5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .scroll_down {
    position: absolute; /* visual을 기준으로 정렬 */
    /* left: 50%;
    transform: translateX(-50%); -> 가운데 정렬 기준 코딩값*/
    z-index: 10;
    right: 0;
    bottom: 32%;
    color: #fff;
    transform: rotate(90deg);
}
.visual .scroll_down::after {
    position: absolute;
    content: "";
    right: -0.8em;
    top: 0.49em;
    width: 0.6em;
    height: 0.6em;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_140_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_140_55)'%3E%3Cpath d='M2.66667 0.666342L6 3.99967L2.66667 7.33301L2.075 6.74134L4.81667 3.99967L2.075 1.25801L2.66667 0.666342Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* 무제한 반복 */
    animation-timing-function: linear; /* 가속도 조절 */
}
@keyframes scroll_down {
    0% { right: -0.8em; }
    50% { right: -1.5em; }
    100% { right: -0.8em; }
}


@media screen and (max-width:1300px){ /* common.css에서 wrapper가 풀리는 사이즈 */
    .visual .ctrl_wrap {
        left: 20px; /* common.css에서 wrapper의 margin 여백
                        -> 이렇게 해야 ctrl 버튼이 브라우저가 줄어들어도 wrapper 위치에 맞게 따라옴 */
    }
}
@media screen and (max-width:1024px){
            .visual .swiper-slide .txt_wrap {
                bottom: 30%; /* 216*100/800 = 27 */
            }
            .visual .swiper-slide .txt_wrap .txt p {
                font-size: 3.24rem;/* 55px / 17 = 3.24 */
            }
            .visual .ctrl_wrap {
                bottom: 23.2%;
            }
}/* @media */

@media screen and (max-width:768px){
            .visual .swiper-slide.swiper-slide-active .photo img {
                transform: scale3d(1,1,1);
            }
            .visual .swiper-slide .txt_wrap {
                bottom: 27%; /* 216*100/800 = 27 */
            }
            .visual .swiper-slide .txt_wrap .txt.mobil {
                display: block; /* 나타남 */
            }
            .visual .swiper-slide .txt_wrap .txt.pc {
                display: none; /* 숨김 */
            }
            .visual .swiper-slide .txt_wrap .txt p {
                font-size: 2.81rem; /* 45 / 16 = 2.81 */
            }
            .visual .ctrl_wrap {
                bottom: 22%;
            }
            .visual .ctrl_wrap button {
                width: 1.7em;
                height: 1.7em;
            }
            .visual .ctrl_wrap button.btn_stop {
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 12V0H10V12H6.66667ZM0 12V0H3.33333V12H0Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            .visual .ctrl_wrap button.btn_play {
                display: none;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_135_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_135_8)'%3E%3Cpath d='M8 5L19 12L8 19L8 5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .visual .scroll_down {
                display: none;
            }
            .visual .scroll_down::after {
                position: absolute;
                content: "";
                right: -0.8em;
                top: 0.49em;
                width: 0.6em;
                height: 0.6em;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_140_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_140_55)'%3E%3Cpath d='M2.66667 0.666342L6 3.99967L2.66667 7.33301L2.075 6.74134L4.81667 3.99967L2.075 1.25801L2.66667 0.666342Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            
                animation-name: scroll_down;
                animation-duration: 2s;
                animation-iteration-count: infinite; /* 무제한 반복 */
                animation-timing-function: linear; /* 가속도 조절 */
            }
            @keyframes scroll_down {
                0% { right: -0.8em; }
                50% { right: -1.5em; }
                100% { right: -0.8em; }
            }
}/* @media */





/* title의 공통스타일 */
section .tit {
    margin: 10.53em 0 2.18em 0;
}
section .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: inline-block;
    padding-right: 0.63em;
    position: relative; /* after */
}
section .tit strong::after {
    content: "";
    position: absolute; /* strong */
    top: -0.12em;
    right: 0.06em;
    width: 0.59em;
    height: 0.59em;
    background-image: var(--tit-ico);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
section .tit h2 {
    color: var(--tit-color);
    font-size: var(--tit-font-size); /* 45/17=2.65 */
    line-height: var(--tit-line-height);
}
@media screen and (max-width:768px){
            section .tit {
                margin: 7.19em 0 1.69em 0;
            }
            section .tit strong::after {
                top: 0.06em;
                right: 0;
            }
}/* @media */





.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    position: relative; /* txt 정렬의 기준 */
    transition: 0.5s;
}
.biz .list ul li .more {
    display: none; /* 모바일에서만 나옴 */
}
.biz .list ul li .photo {
    position: relative; /* before 정렬의 기준 */
    height: 45.18em;
    overflow: hidden;
}
.biz .list ul li .photo::before {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));

    transition: 0.3s;
}
.biz .list ul li .photo::after {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;

    transition: 0.3s;
}
.biz .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt {
    position: absolute; /* li를 기준으로 정렬 */
    bottom: 1.29em; /* 22/17=1.29 */
    left: 8.33%; /* 40/480*100 */
    color: #fff;
    white-space: nowrap; /* 줄바꿈 금지 */
    transition: 0.5s;
}
.biz .list ul li .txt h3 {
    font-size: 2.06rem;
    line-height: var(--tit-line-height);
    margin: 0 0 0.63em 0;
}
.biz .list ul li .txt a {
    display: inline-block; /* 글자의 넓이만하게 */
    font-size: 0.88rem;
    border: 1px solid #fff;
    border-radius: 1.15em;
    padding: 0 1.2em;
    opacity: 0;
    transition: 0.5s;
}
@media screen and (min-width:1025px){
/************************ 마우스를 오버했을 때 ************************/
    .biz .list ul li:hover {
        width: 70%;
    }
    .biz .list ul li:hover .txt {
        bottom: 4.12em; /* 70/17 = 4.12 */
    }
    .biz .list ul li:hover .txt a {
        opacity: 1;
    }
    .biz .list ul:hover li:not(:hover) .photo::before {
        opacity: 0;
    }
    .biz .list ul:hover li:not(:hover) .photo::after {
        opacity: 1;
    }
}/* @media */


@media screen and (max-width:1024px){
            .biz .list ul {
                display: block;
            }
            .biz .list ul li {
                width: auto;
            }
            .biz .list ul li + li { /* 두번째 li부터(인접형제선택자) */
                margin-top: 1px;
            }
            .biz .list ul li .more {
                display: block;
                position: absolute; /* li를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: 101;
                width: 100%;
                height: 100%;
            }
            .biz .list ul li .photo {
                height: 10.81em; /* 173/16 */
            }
            .biz .list ul li .photo::before {
                height: 100%;
                background: rgba(0,0,0,0.3);
            }
            .biz .list ul li .photo::after {
                display: none;
            }
            .biz .list ul li .txt {
                bottom: 1.25em; /* 20/16=1.29 */
                left: 20px;
            }
            .biz .list ul li .txt h3 {
                font-size: 1.56rem;
                margin: 0;
            }
            .biz .list ul li .txt h3 br {
                display: none;
            }
            .biz .list ul li .txt a {
                display: none;
            }
}/* @media */




.news .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
    /*-> 오른쪽 여백없이 딱 붙는 게 싫으면 너비에서 - 오른쪽에 들어갈 여백을 빼면 됨
    ex) width: calc(50% + 630px - 24px);


    ----> list 끝이 wrapper 까지 오게 할거면 지금 한 곳을 주석으로 걸고 html의 list에 wrapper를
          주면 되고 브라우저 끝에 맞추고 싶으면 주석을 풀고 html에 wrapper를 지우면 됨*/
}

@media screen and (max-width:1300px){
    .news .list {
        left: 20px;
        width: calc(100% - 40px);
    }
} /* 이거 안하면 브라우저 줄었을 때 list가 왼쪽으로 처박힘 */


.news .list .swiper {
    overflow: visible;
    /* 왼쪽으로 잘리는 hidden(common.css->#wrap의 overflow-y에 준 값) 해제 */
}
.news .list .swiper-slide {
    width: 23.76em; /* 404/17 */
}
.news .list .swiper-slide a {
    display: block;
}
.news .list .swiper-slide a .date {
    display: block;
    border-top: 1px solid #000;
    font-size: 2.35rem;
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    padding: 0.82em 0 0.43em 0;
    position: relative;
}
.news .list .swiper-slide a .date::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--point-color);
    transition: 1s;
}
.news .list .swiper-slide a:hover .date::before {
    width: 100%;
}
.news .list .swiper-slide a h3 {
    font-size: 1.41rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    /*padding: 0 0 0.79em 0; -> 줄제한이 들어갈땐 패딩 절대 주면 XXXX*/

    /* 2줄 제한 */
    height: 2.4em; /* 행간 * 줄수 = em */
    overflow: hidden;

    /* 길어서 잘리면 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 줄수 */
    -webkit-box-orient: vertical;
}
.news .list .swiper-slide a p {
    /* 2줄 제한 */
    height: 4.5em; /* 행간 * 줄수 = em */
    overflow: hidden;

    /* 길어서 잘리면 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 줄수 */
    -webkit-box-orient: vertical;

    word-break: normal; /* 단어별로 줄바꿈 해제 */

    margin: 0.79em 0 1.47em 0;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 9.41em;
}
.news .list .swiper-slide a .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.news .ctrl_wrap {
    margin-top: 1.47em;
}
.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: space-between;
}
.news .ctrl_wrap .group1 {
    position: relative; /* scrollbar 정렬의 기준 */
    width: calc(100% - 25.18em);
}
.news .ctrl_wrap .swiper-scrollbar {
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: #ededed;
}
.news .ctrl_wrap .swiper-scrollbar .swiper-scrollbar-drag {
    background: #999;
}
.news .ctrl_wrap .swiper-scrollbar .swiper-scrollbar-drag:hover,
.news .ctrl_wrap .swiper-scrollbar.draging .swiper-scrollbar-drag {
    background: var(--point-color);
}
.news .ctrl_wrap .group2 {
    display: flex;
    align-items: center;
    gap: 0.24em;
}
.news .ctrl_wrap .group2 .count {
    color: #919191;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0.11em 0.59em 0 0;

}
.news .ctrl_wrap .group2 .count .swiper-pagination-current {
    color: var(--tit-color);
}
.news .ctrl_wrap .group2 .btn_prev,
.news .ctrl_wrap .group2 .btn_next {
    display: block;
    width: 1.12em;
    height: 1.12em;
    border: 1px solid #919191;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_220_34' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_220_34)'%3E%3Cpath d='M6.77559 7.99981L10.4506 11.6748C10.5756 11.7998 10.636 11.9456 10.6318 12.1123C10.6277 12.279 10.5631 12.4248 10.4381 12.5498C10.3131 12.6748 10.1673 12.7373 10.0006 12.7373C9.83392 12.7373 9.68809 12.6748 9.56309 12.5498L5.71309 8.71231C5.61309 8.61231 5.53809 8.49981 5.48809 8.37481C5.43809 8.24981 5.41309 8.12481 5.41309 7.99981C5.41309 7.87481 5.43809 7.74981 5.48809 7.62481C5.53809 7.49981 5.61309 7.38731 5.71309 7.28731L9.56309 3.43731C9.68809 3.31231 9.836 3.25189 10.0068 3.25606C10.1777 3.26023 10.3256 3.32481 10.4506 3.44981C10.5756 3.57481 10.6381 3.72064 10.6381 3.88731C10.6381 4.05398 10.5756 4.19981 10.4506 4.32481L6.77559 7.99981Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.news .ctrl_wrap .group2 .btn_next {
    transform: rotate(180deg);
}
.news .ctrl_wrap .group2 .more {
    display: block;
    height: 1.46em;
    line-height: 1.46em;
    padding: 0 1.13em;
    font-size: 0.88rem;
    color: var(--tit-color);
    border: 1px solid #919191;
    border-radius: 20px;
    margin-left: 0.2em;
}
@media screen and (max-width:1024px){
    .news .list .swiper-slide {
        width: 18em;
    }
    .news .list .swiper-slide a .date {
        font-size: 2.05rem;
    }
}
@media screen and (max-width:768px){
            .news .list .swiper-slide {
                width: 13em; /* 208/16 */
            }
            .news .list .swiper-slide a .date {
                font-size: var(--tit-font-size);
                padding: 0.53em 0 0.47em 0;
            }
            .news .list .swiper-slide a h3 {
                font-size: 1.38rem;
            }
            .news .list .swiper-slide a p {
                margin: 1em 0 1.44em 0;
            }
            .news .list .swiper-slide a .photo {
                height: 6.13em;
            }
            .news .ctrl_wrap {
                margin-top: 1em;
            }
            .news .ctrl_wrap .wrapper {
                display: flex;
                justify-content: space-between;
            }
            .news .ctrl_wrap .group1 {
                width: calc(100% - 7em);
            }
            .news .ctrl_wrap .swiper-scrollbar {
                height: 3px;
            }
            .news .ctrl_wrap .group2 .count {
                display: none;
            }
            .news .ctrl_wrap .group2 .btn_prev,
            .news .ctrl_wrap .group2 .btn_next {
                display: none;
            }
            .news .ctrl_wrap .group2 .more {
                display: block;
                height: 1.46em;
                line-height: 1.46em;
                padding: 0 1.13em;
                font-size: 0.88rem;
                color: var(--tit-color);
                border: 1px solid #919191;
                border-radius: 20px;
                margin-left: 0.2em;
            }
}/* @media */


.service .list {
    background: url(../images/main/service01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 20.47em;
    display: flex; /* ul을 list의 높이에 위아래 가운데 정렬 */
    align-items: center;
}
.service .list[data-bg="bg1"] {
    background-image: url(../images/main/service02.jpg);
}
.service .list[data-bg="bg2"] {
    background-image: url(../images/main/service03.jpg);
}
.service .list[data-bg="bg3"] {
    background-image: url(../images/main/service04.jpg);
}
.service .list ul {
    display: flex;
    align-items: center;
    width: 100%; /* list가 준 flex의 영향으로 넓이가 필요 */
    padding: 0 3%;
}
.service .list ul li {
    width: 33.34%;
    position: relative; /* before */
}
.service .list ul li + li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 3.94em;
    background-color: rgba(255,255,255,0.5);
}
.service .list ul li a {
    display: block;
    margin: 0 9%;
    padding: 3em 0;
    border-radius: 30px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.25);
    backdrop-filter: blur(20px);
}
.service .list ul li a strong {
    margin-bottom: 0.06em;
}
.service .list ul li a h3 {
    font-size: 2.06rem;
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin-bottom: 0.46em;
}
.service .list ul li a .more {
    display: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.06em 1.06em 0.12em 1.06em;
}
.service .list ul li a:hover .more {
    display: inline-block;
}